{% extends 'base.html' %}
{% block title %}Documentation Scolarité | Etats{% endblock %}
{% block breadcrumb %}
    <b>
        <a style="color: #2a4e7f;" href="{% url 'morpheus_doc' %}" class="breadcrumb">{{ 'Morpheus Documentation'|upper }}</a>
        <a style="color: #2a4e7f;" href="{% url 'sco_accueil' %}" class="breadcrumb">{{ 'Morpheus Scolarité'|upper }}</a>
        <a style="color: #686868;"  href="#" class="disabled breadcrumb">{{ 'GESTION DES ETATS'|upper }}</a>
    </b>

{% endblock %}
{% block body %}
    {% load static %}
    <div class="row">
        <div class="col s3">
            <div style="position: fixed;">
                <a style="color: #2a4e7f;" href="#etat_cla"><b>{{ 'ETATS SUR LES CLASSES'|upper }}</b></a><br/>
                <a style="color: #686868; padding-left: 10px;" href="#annee_aca">(1)	Année Académique</a><br/>
                <a style="color: #686868; padding-left: 10px;" href="#print_eff">(2)	Le lien « <i>Impression des effectifs</i> »</a><br/>
                <a style="color: #686868; padding-left: 10px;" href="#print_group">(3)	Le choix « <i>Impression Groupée Par Classe</i> »</a><br/>
                <a style="color: #686868; padding-left: 10px;" href="#filtre">(4)	Le Filtre « <i>Ecole / Cycle / Classe</i> »</a><br/>
                <a style="color: #686868; padding-left: 10px;" href="#print_mult">(5)	Le lien « <i>Impression Multiple</i> »</a><br/>
                <a style="color: #686868; padding-left: 10px;" href="#bloc_print">(6)	Bloc « <i>Impression</i> »</a><br/>
                <a style="color: #686868; padding-left: 10px;" href="#print_choice">(7)	Choix d’Impression</a><br/>
                <a style="color: #686868; padding-left: 10px;" href="#tbl_etd">(8)	Tableau d’Etudiant</a><br/>

                <a style="color: #2a4e7f;" href="#etat_fin"><b>{{ 'ETATS SUR LES FINANCES'|upper }}</b></a><br/>
                <a style="color: #686868; padding-left: 10px;" href="#annee_aca2">(1)	Année Académique</a><br/>
                <a style="color: #686868; padding-left: 10px;" href="#group_print">(2)	Le choix « <i>Impression Groupée Par Classe</i> »</a><br/>
                <a style="color: #686868; padding-left: 10px;" href="#filtre2">(3)	Le Filtre « <i>Ecole / Cycle / Classe</i> »</a><br/>
                <a style="color: #686868; padding-left: 10px;" href="#aff_classe">(4)	Le lien « <i>Afficher les Classes</i> »</a><br/>
                <a style="color: #686868; padding-left: 10px;" href="#print_bloc">(5)	Bloc « <i>Impression</i> »</a><br/>
                <a style="color: #686868; padding-left: 10px;" href="#choice_print">(6)	Choix d’Impression</a><br/>
                <a style="color: #686868; padding-left: 10px;" href="#tbl_etd2">(7)	Tableau d’Etudiant</a><br/>
            </div>
        </div>
        <div style="text-align: justify" class="col s9">
            <h4><b style="color: #2a4e7f;">{{ 'GESTION DES ETATS'|upper }}</b></h4><hr/>
            <p>
                Dans ce chapitre nous verrons comment manipuler les états du module.
            </p>
            <h5 id="etat_cla"><b style="color: #686868;">{{ 'ETATS SUR LES CLASSES'|upper }}</b></h5><hr/>
            <p>
                Cette partie est spécialisée sur les états donnants des informations sur les classes ou sur ses étudiants.
                L’interface suivante est celle dans laquelle ces traitements s’effectuent.
            </p>
            <img class="materialboxed responsive-img card" width="1252" height="691" style="border: 5px;" src="{% static 'img/sco-img/sco-etat-cla.png' %}">
            <sup>Interface de gestion des états de classe</sup>
            <p>
                Nous allons par la suite expliquer chaque composant de l’interface.
            </p>

            <h6 id="annee_aca"><b>(1)	Année Académique</b></h6><hr>
            <p>
                Le choix de l’année académique permet de déterminer dans quelle année on va travailler. C’est le point de départ des manipulations.
            </p>

            <h6 id="print_eff"><b>(2)	Le lien « <i>Impression des effectifs</i> »</b></h6><hr>
            <p>
                Ce lien permet d’ouvrir la fenêtre donnant accès au choix d’impression.
            </p>
            <img class="materialboxed responsive-img card" width="300" height="153" style="border: 5px;" src="{% static 'img/sco-img/sco-etat-eff.png' %}">
            <sup>Fenêtre de choix d'impression</sup>
            <p>
                Dans laquelle on choisit le type d’impression que l’on veut faire avant d’imprimer.
            </p>
            <p>
                <b><u>NB :</u></b> Ici les impressions ne sont portées que sur les effectifs des classes.
            </p>

            <h6 id="print_group"><b>(3)	Le choix « <i>Impression Groupée Par Classe</i> »</b></h6><hr>
            <p>
                Ce choix permet de faire des impressions pour plusieurs classes en même temps en activant et désactivant le lien « <b><i>Impression Multiple</i></b> » (<b>5</b>).
            </p>

            <h6 id="filtre"><b>(4)	Le Filtre « <i>Ecole / Cycle / Classe</i> »</b></h6><hr>
            <p>
                Ce filtre permet le choix de la classe permettant ainsi de lister dans le tableau (<b>8</b>) les étudiants inscrits dans la classe choisi.
            </p>

            <h6 id="print_mult"><b>(5)	Le lien « <i>Impression Multiple</i> »</b></h6><hr>
            <p>
                Le clic sur ce lien va ouvrir la fenêtre suivante.
            </p>
            <img class="materialboxed responsive-img card" width="447" height="462" style="border: 5px;" src="{% static 'img/sco-img/sco-etat-print-mult.png' %}">
            <sup>Impression groupée par classe</sup>
            <p>
                Dans laquelle  on a plus qu’à sélectionner les classes et choisir le type d’impression que l’on souhaite avant d’imprimer.
                L’impression peut se faire en PDF ou sur un fichier Excel.
            </p>
            <p>
                <b><u>NB :</u></b> Les types d’impression concerne la liste des étudiants de la classe selon différents critères.
            </p>

            <h6 id="bloc_print"><b>(6)	Bloc « <i>Impression</i> »</b></h6><hr>
            <img class="materialboxed responsive-img card" width="466" height="224" style="border: 5px;" src="{% static 'img/sco-img/sco-etat-print-bloc.png' %}">
            <sup>Bloc d'impression</sup>
            <p>
                Après avoir choisi une classe (<b>4</b>) ce bloc va imprimer une liste d’étudiant de la classe selon le critère d’impression, avant d’imprimer en PDF ou en Excel.
            </p>

            <h6 id="print_choice"><b>(7)	Choix d’Impression</b></h6><hr>
            <img class="materialboxed responsive-img card" width="437" height="105" style="border: 5px;" src="{% static 'img/sco-img/sco-etat-print-part.png' %}">
            <sup>Impressions particulières</sup>
            <p>
                Ce menu s’active après avoir choisi l’année académique et permet une impression directe en fonction du menu choisi.
            </p>

            <h6 id="tbl_etd"><b>(8)	Tableau d’Etudiant</b></h6><hr>
            <img class="materialboxed responsive-img card" width="851" height="295" style="border: 5px;" src="{% static 'img/sco-img/sco-etat-listetd.png' %}">
            <sup>Liste des étudiants de la classe</sup>
            <p>
                Ce tableau liste les étudiants de la classe choisi (<b>4</b>).
            </p>
            <p style="color: #2a4e7f;"><i>Le Lien « <b>Certificat de scolarité</b> »</i></p>
            <p>
                Le clic sur ce lien permet d’imprimer le certificat de scolarité de l’étudiant choisi en ouvrant la fenêtre suivante :
            </p>
            <img class="materialboxed responsive-img card" width="155" height="143" style="border: 5px;" src="{% static 'img/sco-img/sco-etat-langue.png' %}">
            <sup>Choix de la langue avant impression d'un Certificat</sup>
            <p>
                Dans laquelle on choisit en quelle langue on veut le certificat de scolarité avant d’imprimer.
            </p>
            <p>
                <b><u>NB :</u></b> Cette action affichera une erreur si on n’a pas configuré les tranches pour l’option de la classe choisi
                (voir paragraphe <a href="{% url 'sco_config_pension' %}#c_tra_pen">APPROCHE CONFIGURATION DU MODULE / (6). Tranche / Pension</a>) ou si l’étudiant n’as pas encore fini le versement de la première tranche.
            </p>
            <p style="color: #2a4e7f;"><i>Le lien « <b>Détails sur l’inscription</b> »</i></p>
            <p>
                Le clic sur ce lien permet d’imprimer un tableau présentant les soldes de l’étudiant dans la classe par tranche.
            </p>

            <h5 id="etat_fin"><b style="color: #686868;">{{ 'ETATS SUR LES FINANCES'|upper }}</b></h5><hr/>
            <p>
                Les états dans cette partie ont trait à tous ceux qui concernent les finances du module.
                On verra donc dans cette partie comment imprimer ces états à travers l’interface suivante.
            </p>
            <img class="materialboxed responsive-img card" width="1237" height="520" style="border: 5px;" src="{% static 'img/sco-img/sco-etat-fin.png' %}">
            <sup>Interface de gestion des états financiers de classe</sup>

            <h6 id="annee_aca2"><b>(1)	Année Académique</b></h6><hr>
            <p>
                Le choix de l’année académique permet de déterminer dans quelle année on va travailler. C’est le point de départ des manipulations.
            </p>

            <h6 id="group_print"><b>(2)	Le choix « <i>Impression Groupée Par Classe</i> »</b></h6><hr>
            <p>
                Ce choix permet de faire des impressions pour plusieurs classes en même temps en activant et
                désactivant le lien « <b>Afficher les Classes</b> » ainsi que le bloc « <b>Impression</b> ».
            </p>

            <h6 id="filtre2"><b>(3)	Le Filtre « <i>Ecole / Cycle / Classe</i> »</b></h6><hr>
            <p>
                Ce filtre permet le choix de la classe permettant ainsi de lister dans le tableau (<b>7</b>) les étudiants inscrits dans la classe choisi.
            </p>

            <h6 id="aff_classe"><b>(4)	Le lien « <i>Afficher les Classes</i> »</b></h6><hr>
            <p>
                Le clic sur ce lien va ouvrir la fenêtre suivante.
            </p>
            <img class="materialboxed responsive-img card" width="614" height="447" style="border: 5px;" src="{% static 'img/sco-img/sco-etat-mutl-print.png' %}">
            <sup>Impression Multiple</sup>
            <p>
                Dans laquelle  on a plus qu’à sélectionner les classes et choisir le type d’impression que l’on souhaite avant d’imprimer.
            </p>
            <p>
                <b><u>NB :</u></b> Les types d’impression concerne la liste des étudiants de la classe selon différents critères.
            </p>

            <h6 id="print_bloc"><b>(5)	Bloc « <i>Impression</i> »</b></h6><hr>
            <img class="materialboxed responsive-img card" width="391" height="106" style="border: 5px;" src="{% static 'img/sco-img/sco-etat-bloc-print.png' %}">
            <sup>Bloc Impression</sup>
            <p>
                Après avoir choisi une classe (<b>3</b>) ce bloc va permettre imprimer une liste d’étudiant de la classe selon le critère d’impression.
            </p>

            <h6 id="choice_print"><b>(6)	Choix d’Impression</b></h6><hr>
            <img class="materialboxed responsive-img card" width="231" height="69" style="border: 5px;" src="{% static 'img/sco-img/sco-etat-part-print.png' %}">
            <sup>Impression particulière</sup>
            <p>
                Ce menu s’active après avoir choisi l’année académique et permet une impression directe en fonction du menu choisi.
            </p>

            <h6 id="tbl_etd2"><b>(7)	Tableau d’Etudiant</b></h6><hr>
            <img class="materialboxed responsive-img card" width="826" height="257" style="border: 5px;" src="{% static 'img/sco-img/sco-etat-etdlist.png' %}">
            <sup>Liste des étudiants inscrits dans la classe</sup>
            <p style="color: #2a4e7f;"><i>Le lien « <b>Détails sur l’inscription</b> »</i></p>
            <p>
                Le clic sur ce lien permet d’imprimer un tableau présentant les soldes de l’étudiant dans la classe par tranche.
            </p>

        </div>
    </div>
    <div class="row">
      <b>
          <div class="col s3"></div>
          <div class="col s3"><a href="{%   url 'sco_gest_moratoire' %}">{{ '7. GESTION DES MORATOIRES'|upper }}</a></div>
          <div class="col s3"><a style="color: #2A4E7F;" class="disabled">{{ '8. GESTION DES ETATS'|upper }}</a></div>
          <div class="col s3"><a href="{%   url 'sco_gest_cartes' %}">{{ '9. GESTION DES CARTES étudiants'|upper }}</a></div>
      </b>
    </div>
{% endblock %}