{% extends 'base.html' %}
{% block title %}Documentation Scolarité | Etudiants & Inscriptions{% endblock %}
{% block breadcrumb %}
    <b>
        <a style="color: #2a4e7f;" href="{% url 'morpheus_doc' %}" class="breadcrumb">{{ 'Morpheus Documentation'|upper }}</a>
        <a style="color: #2a4e7f;" href="{% url 'sco_accueil' %}" class="breadcrumb">{{ 'Morpheus Scolarité'|upper }}</a>
        <a style="color: #686868;"  href="#" class="disabled breadcrumb">{{ 'Gestion des étudiants & Inscriptions'|upper }}</a>
    </b>

{% endblock %}
{% block body %}
    {% load static %}
    <div class="row">
        <div class="col s3">
            <div style="position: fixed;">
                <a style="color: #2a4e7f;" href="#c_etudiant"><b>{{ 'étudiant'|upper }}</b></a><br/>
                <a style="color: #686868; padding-left: 10px;" href="#infos_pers">Informations Personnelles</a><br/>
                <a style="color: #686868; padding-left: 10px;" href="#contact_etd">Contact de l’étudiant</a><br/>
                <a style="color: #686868; padding-left: 10px;" href="#infos_par">Informations Parentales</a><br/>
                <a style="color: #686868; padding-left: 10px;" href="#cursus">Cursus Académique</a><br/>
            </div>
        </div>
        <div style="text-align: justify" class="col s9">
            <h4><b style="color: #2a4e7f;">{{ 'GESTION DES ETUDIANTS ET DES INSCRIPTIONS'|upper }}</b></h4>
            <p>Ce chapitre concerne la gestion des étudiants dans l’application : leur enregistrement, leur inscription, leur transfert, etc.</p>
            <h5 id="c_etudiant"><b style="color: #686868;">{{ 'étudiant'|upper }}</b></h5>
            <hr/>
            <p>Cette partie concerne principalement la manipulation des étudiants à travers l’interface suivant.</p>
            <img class="materialboxed responsive-img card" width="1206" height="618" style="border: 5px;" src="{% static 'img/sco-img/sco-etd-profil.png' %}">
            <sup>Interface de Gestion des étudiants</sup>
            <p>La zone de recherche (encadré en <b>noir</b>) permet de de faire la recherche d’un étudiant inscrit dans au moins une classe pour le compte de l’année académique sélectionné.<br/>
                Après avoir choisi un étudiant, ses informations sont remplies dans la partie droite de l’écran en plusieurs onglets.
            </p>
            <h6 id="infos_pers"><b>Informations Personnelles</b></h6>
                <hr>
            <p>Cette partie concerne les informations de l’étudiant en différent onglets, à savoir : Identité, Adresse, Origine, Physique (zone encadré en <span style="color: #c00000"><b>rouge</b></span>).<br/>
                Comme vous pouvez le constater les champs sont grisé, le clic sur le bouton « <b><i>Déverrouiller / Verrouiller</i></b> » (Encadré en <span style="color: #2A4E7F;"><b>bleu</b></span>), permet de dégriser ou griser c’est champ là ainsi que le bouton « <b><i>Mettre à jour</i></b> » (encadré en <span style="color: #ffc000"><b>jaune</b></span>) qui permet d’enregistrer d’éventuelles modifications effectué sur l’étudiant.
            </p>
            <h6 id="contact_etd"><b>Contact de l’étudiant</b></h6>
                <hr>
            <p>Cette partie permet d’enregistrer les emails et numéro de téléphone de l’étudiant.</p>

            <img class="materialboxed responsive-img card" width="752" height="216" style="border: 5px;" src="{% static 'img/sco-img/sco-etd-contact.png' %}">
            <sup>Numéros de téléphone et emails de l'étudiant</sup>

            <p>Les boutons « <b>Nouveau</b> » permettent respectivement d’ajouter un nouveau numéro de téléphone ou un nouvel email à l’étudiant.</p>
            <img class="materialboxed responsive-img card" width="216" height="157" style="border: 5px;" src="{% static 'img/sco-img/sco-etd-add-tel.png' %}">
            <sup>Ajout d’un numéro de téléphone</sup>
            <img class="materialboxed responsive-img card" width="216" height="159" style="border: 5px;" src="{% static 'img/sco-img/sco-etd-add-mail.png' %}">
            <sup>Ajout d'un email</sup>

            <h6 id="infos_par"><b>Informations Parentales</b></h6><hr/>
            <p>Cette interface permet d’afficher les parents de l’étudiant choisi ainsi que d’avoir des informations (numéros de téléphone et emails) sur eux.</p>

            <img class="materialboxed responsive-img card" width="754" height="318" style="border: 5px;" src="{% static 'img/sco-img/sco-etd-info-par.png' %}">
            <sup>Parents de l'étudiant</sup>
            <p>Le bouton " <b><i>Ajouter</i></b>", situé dans le bloc Parent permet attribuer un parent à l’étudiant. Grâce à l’interface suivante.</p>
            <img class="materialboxed responsive-img card" width="723" height="408" style="border: 5px;" src="{% static 'img/sco-img/sco-etd-info-par+.png' %}">
            <sup>Choix du Parent</sup>

            <p>-	Le Lien « <b><i>Choisir</i></b> » : permet d’attribuer le parent à l’étudiant.<br/>
            -	Les liens « <b><i>Editer</i></b> » et « <b><i>Supprimer</i></b> »  permettent respectivement d’éditer et supprimer  un parent.</p>
            <p>Dans le cas où le parent n’existe pas, le bouton « <b><i>Nouveau Parent</i></b> » permet d’en ajouter un parent.</p>
            <img class="materialboxed responsive-img card" width="214" height="258" style="border: 5px;" src="{% static 'img/sco-img/sco-etd-add-par.png' %}">
            <sup>Edition d'un parent</sup>

            <p>•	Le lien « <b><i>Choisir</i></b> » permet d’afficher les numéros de téléphone et l’email du parent et par conséquent l’ajout de ceux-ci.</p>
            <p>•	Le lien « <b><i>Retirer</i></b> » permet tout simplement d’enlever le parent à l’étudiant.</p>

            <h6 id="cursus"><b>Cursus Académique</b></h6><hr/>
            <p>
                Cette interface permet d’afficher un tableau présentant le récapitulatif des pensions soldée ou non de l’étudiant depuis son arrivée au sein de l’établissement.
            </p>
            <img class="materialboxed responsive-img card" width="831" height="125" style="border: 5px;" src="{% static 'img/sco-img/sco-etd-cursus.png' %}">
            <sup>Cursus Académique de l'étudiant</sup>

            <h5 id="insc_tran"><b style="color: #686868;">{{ 'INSCRIPTION ET TRANSFERT'|upper }}</b></h5><hr/>
            <p>
                Cette partie est celle responsable du traitement des inscriptions ainsi que de l’enregistrement des étudiants dans le système.<br/>
                Quand on parle de traitement d’inscription il s’agit ici de :<br/>
                -	l’affectation d’un étudiant à une classe qu’il soit redoublant ou nouveau.<br/>
                -	Le transfert d’un étudiant d’une classe à une autre.<br/><br/>
                L’enregistrement de l’étudiant peut se faire deux manières différentes : <br/>
                -	Soit directement avec saisi des informations de l’étudiant.<br/>
                -	Soit en passant par le candidat qui devient étudiant.<br/>
                Toute cette manipulation s’effectue sur l’interface suivante.
            </p>
            <img class="materialboxed responsive-img card" width="1235" height="593" style="border: 5px;" src="{% static 'img/sco-img/sco_insc.png' %}">
            <sup>Interface Inscription</sup>
            <p>
                Pour mieux documenter cette interface par la suite, nous allons nous servir des numérotations pour expliquer le rôle de chaque composant.
            </p>
            <h6 id=""><b>(1)	Année Académique</b></h6><hr/>
            <p>
                Permet d’afficher la liste des années académique utilisable dans le système. C’est de là que part tout le processus de manipulation des inscriptions.
            </p>

            <h6 id=""><b>(2)	Profil</b></h6><hr/>
            <p>
                Permet de lister les différents profils des étudiants au sein de l’application, à savoir :  <br/>
                -	Inscrit <br/>
                -	Non Inscrit <br/>
                -	Candidat <br/>
                -	Ancien <br/> <br/>
                La sélection influence le tableau dans la zone en rouge (nous y reviendront dans un paragraphe plus bas).
            </p>

            <h6 id=""><b>(3)	Bouton « Nouvel Etudiant »</b></h6><hr/>
            <p>
                Le clic sur ce bouton appel l’interface d’enregistrement d’un nouvel étudiant qui est la suivante. Cet enregistrement ce fait  en plusieurs étapes donc voici quelques une.
            </p>

            <img class="materialboxed responsive-img card" width="1017" height="390" style="border: 5px;" src="{% static 'img/sco-img/sco-new-etd1.png' %}">
            <sup>Ajout d'un étudiant (Etape 1)</sup>

            <img class="materialboxed responsive-img card" width="992" height="340" style="border: 5px;" src="{% static 'img/sco-img/sco-new-etd2.png' %}">
            <sup>Ajout d'un étudiant (Etape 2)</sup>

            <img class="materialboxed responsive-img card" width="992" height="340" style="border: 5px;" src="{% static 'img/sco-img/sco-new-etd2.png' %}">
            <sup>Ajout d'un étudiant (Etape 2)</sup>

            <img class="materialboxed responsive-img card" width="1003" height="316" style="border: 5px;" src="{% static 'img/sco-img/sco-new-etd3.png' %}">
            <sup>Ajout d'un étudiant (Etape 3)</sup>

            <img class="materialboxed responsive-img card" width="1020" height="211" style="border: 5px;" src="{% static 'img/sco-img/sco-new-etd4.png' %}">
            <sup>Ajout d'un étudiant (Etape 4)</sup>

            <p>
                Ces étapes permettent de renseigner les informations  personnelles de l’étudiant.<br/>
                Le lien « <b>Désactiver l’inscription</b> » (<span style="color: #c00000">encadré en rouge</span>) permet d’activer ou désactiver l’étape 4.<br/>
                Le bouton « <b>Enregistrer</b> » permettra d’enregistrer l’étudiant dans l’application et d’activer simplement les autres étapes si l’étape 4 est inactive, dans le cas contraire il ouvrira aussi l’interface d’inscription qui est la suivante.
            </p>

            <img class="materialboxed responsive-img card" width="640" height="395" style="border: 5px;" src="{% static 'img/sco-img/sco-new-insc1.png' %}">
            <sup>Fenêtre d'inscription</sup>

            <ul>
                <li>•	Onglet « <b>Général</b> »</li>
                <p>
                    C’est dans cet onglet que l’on saisira les informations de l’inscription (en ajout comme en modification) :
                </p>
                <p>
                    -	S’il est redoublant ou non<br/>
                    -	S’il est ancien à l’établissement ou non<br/>
                    -	Son établissement de provenance au cas où il est nouveau<br/>
                    -	La date d’inscription<br/>
                    -	Le profil (le choix du profil donnera la pension en fonction de l’affectation faite dans les configurations)
                </p>
                <p>
                    Après avoir rempli les champs, le clic sur le lien « <b>Enregistrer</b> » l’inscription sera enregistrée dans l’application et
                    activera les autres onglets (à part l’onglet « <b>Matières</b> » si l’étudiant n’est pas redoublant).
                </p>
                <li>•	L’onglet « <b>Moyenne Cycle Précédent</b> »</li>

                <img class="materialboxed responsive-img card" width="637" height="414" style="border: 5px;" src="{% static 'img/sco-img/sco-new-insc3.png' %}">
                <sup>Moyenne Cycle Précédent</sup>

                <p>C’est dans cet onglet que l’on renseigne les informations du précédent cycle que l’étudiant à fait avant de s’inscrire.
                    Il suffit d’entrée les informations dans les champs requis et cliquer sur le lien « <b>Enregistrer</b> ».
                </p>
                <p>
                    <b><u>NB :</u></b> Pour les étudiants inscrit en première année, le cycle précédent ne sera pas afficher.
                </p>
                <li>•	L’onglet « <b>Matière</b> »</li>

                <img class="materialboxed responsive-img card" width="630" height="466" style="border: 5px;" src="{% static 'img/sco-img/sco-new-insc4.png' %}">
                <sup>Interface d'attribution des matières</sup>

                <p>
                    Cet onglet s’active lorsque l’inscription est enregistrée en tant que redoublant et
                    permet  de choisir les matières pour lesquelles l’étudiant va devoir repasser.
                </p>
                <p>
                    Le choix des matières se fait en cochant les cases (<span style="color: #2A4E7F;">encadré en bleu</span>) sur les matières désirées du tableau.
                    Lorsque le la case « <b>Reprise</b> » est coché, ce sont les frais reprise des matières qui seront comptabilisés dans le cas contraire
                    c’est plutôt les frais redoublements qui seront comptabilisé.
                </p>
                <p>
                    Le clic sur le lien « <b>Enregistrer</b> » va enregistrer les matières sélectionnées pour l’inscription de l’étudiant.
                </p>
                <p>
                    <b><u>NB :</u></b> Le montant encadré en rouge est la somme du montant des matières choisit.
                </p>
                <li>•	L’onglet « <b>Service</b> »</li>
                <img class="materialboxed responsive-img card" width="633" height="186" style="border: 5px;" src="{% static 'img/sco-img/sco-new-insc5.png' %}">
                <sup>Service souscrit par l'étudiant</sup>

                <p>
                    Cet onglet liste les services auxquels un étudiant à souscrit l’année en cours  et aussi l’affectation des services
                    à l’étudiant en cliquant sur le bouton « <b>Bouton Affectation</b> » ce qui ouvrira la fenêtre suivante :
                </p>

                <img class="materialboxed responsive-img card" width="223" height="176" style="border: 5px;" src="{% static 'img/sco-img/sco-new-aff.png' %}">
                <sup>Affectation d'un service</sup>

                <li>•	L’onglet « Paiements »</li>

                <img class="materialboxed responsive-img card" width="690" height="272" style="border: 5px;" src="{% static 'img/sco-img/sco-new-insc6.png' %}">
                <sup>Liste des paiements de l'étudiant</sup>

                <p>
                    Cet onglet liste les paiements effectués pour l’étudiant sur son inscription.
                </p>
            </ul>

            <h6 id=""><b>(4)	Ecole</b></h6><hr/>
            <p>
                Il permet de lister les différentes écoles du système et permet de choisir une école pour un accès plus
                rapide à la classe que l’on souhaite atteindre.
            </p>

            <h6 id=""><b>(5)	Cycle</b></h6><hr/>
            <p>
                Il se charge après avoir choisi l’école (paragraphe (4) Ecole, plus haut) et liste les cycles en fonction de l’école.
            </p>

            <h6 id=""><b>(6)	Classe</b></h6><hr/>
            <p>
                Il se charge après avoir choisi l’école (paragraphe (4) Ecole) et le cycle (paragraphe (5) Cycle).
                Le choix va charger dans le tableau (encadré en rouge) la liste des étudiants inscrits dans la classe.
            </p>

            <h6 id=""><b>(7)	Places restantes</b></h6><hr/>
            <p>
                Après avoir choisir la classe cette zone est actualisée et affiche un récapitulatif des places restantes dans la classe.
            </p>
            <p>
                <b><u>NB :</u></b> lorsque le quota est atteint il est impossible d’inscrire un nouvel étudiant dans la classe.
            </p>

            <h6 id=""><b>(8)	Bouton « <i>Nouvelle Inscription</i> »</b></h6><hr/>
            <p>
                Ce bouton permet l’inscription d’un étudiant dans une classe,
                c’est un autre moyen d’inscription la première a été vue plus haut (paragraphe (3) Bouton « Nouvel Etudiant »).
            </p>
            <p>
                Ce bouton  s’active lorsque l’étudiant choisi (lien « choisir » dans le tableau de la zone encadré en rouge) n’est pas inscrit dans la classe choisi.
                Par exemple, après avoir choisi un que l’on à rechercher dans « NON INSCRIT » (paragraphe (2) Profil) et on choisit la classe ensuite.
            </p>
            <p>
                Le clic sur ce bouton affiche la fenêtre inscription que l’on a vue plus haut.
            </p>

            <h6 id=""><b>(9)	Bouton « <i>Transfert</i> »</b></h6><hr/>
            <p>
                Ce bouton permet le transfert d’un étudiant d’une classe à une autre.<br/>
                Il s’active lorsque l’étudiant choisi est inscrit dans la classe sélectionnée.<br/>
                Un clic sur ce bouton affiche la fenêtre suivante.<br/>
            </p>
            <img class="materialboxed responsive-img card" width="465" height="430" style="border: 5px;" src="{% static 'img/sco-img/sco-transf1.png' %}">
            <sup>Fenêtre de transfert d'un étudiant</sup>

            <p>Le bloc « Classe Actuelle » présente la classe actuelle de l’étudiant et bloc « <b>Nouvelle Classe</b> » permet de choisir dans quel classe on souhaite transférer l’étudiant.
                Il suffit de cliquer sur le lien « <b>Enregistrer</b> » pour valider le transfert.
            </p>
            <p>
                <b><u>NB :</u></b> le transfert ne pourra pas être effectué si la classe a déjà atteint son quota d’étudiant.
            </p>

            <h6 id=""><b>(10)	Bouton « <i>Transfert Multiple</i> »</b></h6><hr/>
            <p>
                Ce bouton s’active lorsqu’on sélectionne la classe et permet le transfert de plusieurs étudiants d’une classe à une autre.
                Le clic sur ce bouton ouvre la fenêtre suivante.
            </p>
            <img class="materialboxed responsive-img card" width="404" height="630" style="border: 5px;" src="{% static 'img/sco-img/sco-transf2.png' %}">
            <sup>Transfert Multiple des étudiants</sup>

            <p>
                Le principe reste le même que dans le chapitre précédent à la différence que l’on peut choisir un ou plusieurs étudiants à travers le lien « <b>Ajouter</b> » du premier tableau.
                Le second tableau permet de lister les étudiants à transférer on peut en retirer en cliquant sur le lien « <b>Retirer</b> ».
            </p>
            <p>
                Le bouton « <b>Enregistrer</b> » transfèrera les étudiants sélectionné dans la classe choisi.
            </p>

            <h6 id=""><b>(11)	Lien « <i>Téléchargement des Photos des étudiants</i> »</b></h6><hr/>
            <p>
                Ce lien s’active après avoir choisi une classe et permet de télécharger l’ensemble des photos des étudiants pour cette classe.
            </p>

            <h6 id=""><b>(12)	Zone Recherche</b></h6><hr/>
            <p>
                Permet de rechercher un étudiant ou un candidat en fonction du profil sélectionner (paragraphe (2) profil).
                Le résultat apparaitra dans le tableau (<span style="color: #c00000">encadré en rouge</span>).
            </p>

            <h6 id=""><b>(13)	Tableau</b></h6><hr/>
            <p>
                Affiche une liste d’étudiant ou de candidat en fonction du profil (paragraphe (2) Profil), et propose des affichages différents en fonction de ceux-ci.
            </p>

            <h6 id=""><b style="color: #686868;">{{ "•  Gestion de l'étudiant"|upper }}</b></h6>
            <hr/>
            <p>Lorsque les choix du profil se portent sur <b>INSCRIT</b>, <b>NON INSCRIT</b> ou <b>ANCIEN</b>.</p>
            <p>La liste des étudiants du tableau sera affichée de la manière suivante :</p>

            <img class="materialboxed responsive-img card" width="865" height="277" style="border: 5px;" src="{% static 'img/sco-img/sco-list-etd.png' %}">
            <sup>Liste des étudiants</sup>

            <p>Nous allons maintenant décrire le rôle de chaque lien : </p>
            <h6><b>Lien « <i>Choisir</i> »</b></h6>
            <p>Il permet de choisir l’étudiant que l’on souhait manipuler. Le clic sur ce lien va permettre de recharger les informations contenu dans la zone verte (14).</p>
            <p>Cette action désactivera les champs Ecole (4), Cycle (5) et Classe (6) si l’étudiant n’a pas fini de payer ses frais de scolarité antérieure.</p>
            <h6><b>Le lien « <i>Voir le profil</i> »</b></h6>
            <p>Son rôle est d’afficher les informations de l’étudiant. Un clic dessus ouvrira la fenêtre suivante :</p>

            <img class="materialboxed responsive-img card" width="676" height="692" style="border: 5px;" src="{% static 'img/sco-img/sco-pro-etd.png' %}">
            <sup>Informations sur l'étudiant</sup>

            <h6><b>Le lien « <i>Mettre à Jour</i> »</b></h6>
            <p>
                Son rôle est de permettre de mettre à jour les informations de l’étudiant.
                Un clic sur ce lien ouvrira la fenêtre d’enregistrement d’un étudiant avec ses informations déjà remplis et prêtes à être modifier,
                avec les onglets « <b>Contact étudiant (Etape 5)</b> » et « <b>Informations Parentales (Etape5)</b> » activité.
            </p>
            <p>
                Comme sur l’enregistrement d’un étudiant, pour faire la mise à jour des informations de l’étudiant
                il suffit de saisir les informations dans les champs requis et cliquer sur le lien « <b>Enregistrer</b> ».
            </p>
            <p>Nous allons voir comment utiliser les autres onglets.</p>

            <h6 id=""><b>Contact Etudiant (Etape 5)</b></h6><hr/>

            <img class="materialboxed responsive-img card" width="1187" height="371" style="border: 5px;" src="{% static 'img/sco-img/sco-etd-contact2.png' %}">
            <sup>contact de l'étudiant</sup>

            <p>
                Cette interface permet l’enregistrement  des numéros de téléphone et emails de l’étudiant,
                en saisissant les informations dans les champs requis et en cliquant sur le bouton « <b>Enregistrer</b> ».
                Au cas où l’on s’est trompé on peut toujours supprimer à travers son lien.
            </p>

            <h6 id=""><b>Informations Parentales (Etape 6)</b></h6><hr/>

            <img class="materialboxed responsive-img card" width="1134" height="474" style="border: 5px;" src="{% static 'img/sco-img/sco-etd-parent.png' %}">
            <sup>Informations Parentales</sup>

            <p>
                Cette interface de lister les parents de l’étudiant.
            </p>
            <p>
                Le lien « choisir » sur la ligne d’un parent permet d’afficher ses informations (numéros de téléphone et emails)
                et le fonctionnement reste le même comme pour l’onglet « <b>Contact étudiant</b> ».
            </p>
            <p>
                Au cas pour pouvoir attribuer un parent à un étudiant, on clique sur le bouton « Ajouter » et cette fenêtre apparaitra.
            </p>

            <img class="materialboxed responsive-img card" width="620" height="524" style="border: 5px;" src="{% static 'img/sco-img/sco-etd-parent2.png' %}">
            <sup>Enregistrement d'un parent</sup>

            <p>
                Dans laquelle on peut rechercher le parent et le choisir pour l’affecter à l’étudiant.
                Mais si il n’est dans le système on peut l’enregistrer (via le bloc « <b>Enregistrement d’un Parent</b> ») avant d’effectuer la recherche.
                Bien évidemment les liens « <b>Editer</b> » et « <b>Supprimer</b> » sont conforme à leur rôle chacun.
            </p>

            <h6 id=""><b style="color: #686868;">{{ "•  Gestion du Candidat"|upper }}</b></h6>
            <p>
                Après avoir choisir <b>CANDIDAT</b> dans Profil, la recherche d’un candidat affichera le tableau suivant.
            </p>

            <img class="materialboxed responsive-img card" width="645" height="243" style="border: 5px;" src="{% static 'img/sco-img/sco-list-par.png' %}">
            <sup>Liste des Candidats</sup>

            <p>
                Le clic sur le lien « <b>Enregistrer comme étudiant & inscrire</b> » ouvrira la fenêtre d’enregistrement d’un nouvel étudiant avec les informations du
                candidat rempli pour faciliter la tâche à l’utilisateur
                et le fonctionnement reste le même comme au paragraphe (3) Bouton « <b>Nouvel Etudiant</b> », mais avec l’onglet « <b>Contact Candidat</b> » activé.
            </p>

            <img class="materialboxed responsive-img card" width="979" height="409" style="border: 5px;" src="{% static 'img/sco-img/sco-contact-cand.png' %}">
            <sup>Contact et Parent du Candidat</sup>

            <p>
                Il suffit de cliquer sur les différents liens pour enregistrer les numéros, emails et  parents du candidat en tant qu’étudiant.
            </p>
            <p>
                <b><u>NB :</u></b> Lorsqu’on choisit d’enregistrer un candidat, l’étape 4 est différente et affiche uniquement la liste des classes concernées par le niveau et l’option choisit par le candidat.
            </p>

            <img class="materialboxed responsive-img card" width="1188" height="372" style="border: 5px;" src="{% static 'img/sco-img/sco-classe.png' %}">
            <sup>Enregistrement d'un candidat (Etape 4)</sup>

            <h6 id=""><b>(14)	 Informations de l’étudiant</b></h6><hr/>

            <img class="materialboxed responsive-img card" width="319" height="382" style="border: 5px;" src="{% static 'img/sco-img/sco-info-insc.png' %}">
            <sup>Présentation de l'étudiant</sup>

            <p>
                Cette zone (<span style="color: #18c017">encadré en vert</span>) se charge lorsqu’on clique sur le lien « <b>Choisir</b> » sur un étudiant dans le tableau (voir paragraphe (13) Tableau)
                et présente quelques informations sur l’étudiant choisi tel que : sa photo (si il en a),  ses noms et prénoms,
                le nombre de classe dans lesquels il est inscrit au cours de l’année choisi.
            </p>
            <p>
                Le lien « <b>FRAIS ANTERIEURS SOLDES / FRAIS ANTERIEURS NON SOLDES</b> » permet de savoir si un étudiant a eu à finir de
                payer les frais de scolarité aux années académique antérieures à celle choisi (s’il a été inscrit à ces années).
                Le clic sur le lien affiche le tableau suivant permettant d’avoir un récapitulatif du solde de ses frais de scolarités antérieurs.
            </p>
            <img class="materialboxed responsive-img card" width="624" height="158" style="border: 5px;" src="{% static 'img/sco-img/sco-list-pai.png' %}">
            <sup>Pensions Antérieurs de l'étudiant</sup>

            <p>
                Le tableau « <b>Inscription de l’étudiant</b> » : permet de lister les différentes inscription de l’étudiant (en présentant les classes dans lesquels il est inscrit) pour l’année en cours.
            </p>
            <p>Ce tableau possède deux liens : </p>
            <p>Le lien « <b>Annuler Inscription</b> » qui permet d’annuler l’inscription dans la classe. </p>
            <p>
                Le lien « <b>Voir</b> » qui ouvre le formulaire d’inscription vu plus haut (voir paragraphe (3) Bouton « Nouvel Etudiant ») avec ses détails.
            </p>

            <img class="materialboxed responsive-img card" width="641" height="460" style="border: 5px;" src="{% static 'img/sco-img/sco-info-insc2.png' %}">
            <sup>Mise à Jour d'une Inscription</sup>

            <p>
                Si l’enregistrement est effectuer avec « <b>OUI</b> » sur redoublant, l’onglet « <b>Matières</b> » devient actif et permet de
                choisir les matières que l’étudiant devra refaire au cours de son année, comme le montre la figure suivante.
            </p>
        </div>
    </div>

    <div class="row">
      <b>
          <div class="col s3"></div>
          <div class="col s3"><a href="{%   url 'sco_config_pension' %}">{{ '2. Approche Configuration du module'|upper }}</a></div>
          <div class="col s3"><a style="color: #2A4E7F;" class="disabled">{{ '3. Gestion des étudiants & Inscriptions'|upper }}</a></div>
          <div class="col s3"><a href="{%   url 'sco_gest_paie' %}">{{ '4. GESTION DES PAIEMENTS'|upper }}</a></div>
      </b>
    </div>
{% endblock %}