{% extends 'base.html' %}
{% block title %}Documentation Scolarité | Cartes Etudiants{% endblock %}
{% block breadcrumb %}
    <b>
        <a style="color: #2a4e7f;" href="{% url 'morpheus_doc' %}" class="breadcrumb">{{ 'Morpheus Documentation'|upper }}</a>
        <a style="color: #2a4e7f;" href="{% url 'sco_accueil' %}" class="breadcrumb">{{ 'Morpheus Scolarité'|upper }}</a>
        <a style="color: #686868;"  href="#" class="disabled breadcrumb">{{ 'GESTION DES CARTES étudiants'|upper }}</a>
    </b>

{% endblock %}
{% block body %}
    {% load static %}
    <div class="row">
        <div class="col s3">
            <div style="position: fixed;">
                <a style="color: #2a4e7f;" href="#etat_cla"><b>{{ 'CARTES D’ETUDIANT'|upper }}</b></a><br/>
                <a style="color: #686868; padding-left: 10px;" href="#filtre">(1)	Filtre de Recherche</a><br/>
                <a style="color: #686868; padding-left: 10px;" href="#list_etd">(2)	Liste des étudiants</a><br/>
                <a style="color: #686868; padding-left: 10px;" href="#link_check">(3)	Le Lien « <i>Tous Cocher/Decocher</i> »</a><br/>
                <a style="color: #686868; padding-left: 10px;" href="#add_etd">(4)	Le Bouton « <i>Ajouter des Etudiants</i> »</a><br/>
                <a style="color: #686868; padding-left: 10px;" href="#save_retrait">(5)	Le Bouton « <i>Enregistrer Le Retrait des Cartes</i> »</a><br/>
                <a style="color: #686868; padding-left: 10px;" href="#cancel_retrait">(6)	Le Bouton « <i>Annuler Le Retrait des Cartes</i> »</a><br/>
                <a style="color: #686868; padding-left: 10px;" href="#print_bloc">(7)	Bloc Impression</a><br/>
            </div>
        </div>
        <div style="text-align: justify" class="col s9">
            <h4><b style="color: #2a4e7f;">{{ 'GESTION DES CARTES éTUDIANTS'|upper }}</b></h4><hr/>
            <p>
                Dans ce chapitre nous verrons la gestion des Cartes d'étudiants, c'est-à-dire l'enregistrement des étudiants ayant fait leur carte, la confirmation
                du retrait des cartes par les étudiants ou encore l'annulation des retraits.
            </p>
            <h5 id="etat_cla"><b style="color: #686868;">{{ 'CARTES éTUDIANTS'|upper }}</b></h5><hr/>
            <img class="materialboxed responsive-img card" width="1246" height="590" style="border: 5px;" src="{% static 'img/sco-img/sco-carte.png' %}">
            <sup>Interface de gestion des Cartes d'étudiants</sup>

            <h6 id="filtre"><b>(1)	Filtre de Recherche</b></h6><hr>
            <img class="materialboxed responsive-img card" width="226" height="243" style="border: 5px;" src="{% static 'img/sco-img/sco-carte-filtre.png' %}">
            <sup>Filtre de Recherche</sup>
            <p>
                Cette zone permet de d'afficher les étudiants d'une classe en fonction de l'Année Académique, l'Ecole et le Cycle.
            </p>

            <h6 id="list_etd"><b>(2)	Liste des étudiants</b></h6><hr>
            <img class="materialboxed responsive-img card" width="753" height="347" style="border: 5px;" src="{% static 'img/sco-img/sco-carte-liste-etd.png' %}">
            <sup>Tableau des étudiants ayant fait leur carte</sup>
            <p>
                Ce tableau présente les étudiants d'une classe ayant déjà fait leur carte d'étudiant ainsi que leurs détails. On peut donc savoir à travers ce tableau
                les étudiants ayant déjà retirés leur carte et ceux qui ne l'ont pas fait.
            </p>
            <p>
                <b><u>NB : </u></b> Les cases à cocher en debut de ligne sur le tableau, permettent de sélectionner un ou plusieurs étudiants pour tratement
                que nous verrons dans le paragraphe (<b>5</b>) et (<b>6</b>).
            </p>

            <h6 id="link_check"><b>(3)	Le Lien « <i>Tous Cocher/Decocher</i> »</b></h6><hr>
            <p>
                Ce lien permet de sélectionner ou  désélectionner tous les étudiants du tableau.
            </p>

            <h6 id="add_etd"><b>(4)	Le Bouton « <i>Ajouter des Etudiants</i> »</b></h6><hr>
            <p>
                Le clic sur ce bouton va ouvrir la fenêtre suivante :
            </p>
            <img class="materialboxed responsive-img card" width="549" height="294" style="border: 5px;" src="{% static 'img/sco-img/sco-carte-listetd.png' %}">
            <sup>Tableau des étudiants n'ayant pas de carte</sup>
            <p>
                Qui affiche les étudiants de la classe n'ayant pas encore de carte. On peut donc y remedier en décidant d'enregistrer les étudiants ayant
                fait leur carte en les sélectionnant, puis ensuite on clique sur le bouton "<b>Enregistrer</b>" qui ouvrira la fenêtre ci-dessous :
            </p>
            <img class="materialboxed responsive-img card" width="346" height="207" style="border: 5px;" src="{% static 'img/sco-img/sco-carte-add.png' %}">
            <sup>Fenêtre d'enregistrement de la délivrance d'une (ou de plusieurs) carte</sup>
            <p>
                Cette fenêtre permet d'enregistrer les détails de la délivrance des cartes aux étudiants sélectionnés, on renseigne donc : le jour ou la carte a été
                faite, la date d'expiration de la carte (qui est 03 ans après la date de délivrance) et on précise si l'étudiant a déjà retiré la carte ou pas.
            </p>

            <h6 id="save_retrait"><b>(5)	Le Bouton « <i>Enregistrer Le Retrait des Cartes</i> »</b></h6><hr>
            <p>
                C'est à travers ce bouton que l'on précise si les étudiants sélectionnés on déjà retiré leur carte.
            </p>
            <img class="materialboxed responsive-img card" width="921" height="100" style="border: 5px;" src="{% static 'img/sco-img/sco-carte-val-retrait.png' %}">
            <sup>Validation du retrait des cartes sélectionnées</sup>
            <p>
                <b><u>NB : </u></b>Si des cartes dont le retrait avait déjà été confirmé sont sélectionnées, les informations de ceux-ci seront mis à jour.
            </p>

            <h6 id="cancel_retrait"><b>(6)	Le Bouton « <i>Annuler Le Retrait des Cartes</i> »</b></h6><hr>
            <p>
                C'est à travers ce bouton que l'on précise l'Annulation du retrait des cartes aux étudiants au cas ou l'on se serait trompé dans l'enregistrement.
            </p>
            <img class="materialboxed responsive-img card" width="654" height="102" style="border: 5px;" src="{% static 'img/sco-img/sco-carte-cancel-retrait.png' %}">
            <sup>Annulation du retrait des cartes sélectionnées</sup>

            <h6 id="print_bloc"><b>(7)	Bloc Impression</b></h6><hr>
            <img class="materialboxed responsive-img card" width="206" height="101" style="border: 5px;" src="{% static 'img/sco-img/sco-carte-print.png' %}">
            <sup>Bloc Impression</sup>
            <p>
                Ce bloc permet d'effectuer les impression suivante :
                <ul>
                    <li>La Liste des étudiants Sans Carte</li>
                    <img class="materialboxed responsive-img card" width="780" height="380" style="border: 5px;" src="{% static 'img/sco-img/listeEtudiantSansCarte.png' %}">
                    <sup>Liste des étudiants de la classe n'ayant pas de Carte d'étudiant</sup>

                    <li>La Liste des étudiants Avec Carte</li>
                    <img class="materialboxed responsive-img card" width="780" height="380" style="border: 5px;" src="{% static 'img/sco-img/listeEtudiantAvecCarte.png' %}">
                    <sup>Liste des étudiants de la classe ayant une Carte d'étudiant</sup>
                </ul>

            </p>

        </div>
    </div>
    <div class="row">
      <b>
          <div class="col s3"></div>
          <div class="col s3"><a href="{%   url 'sco_gest_etat' %}">{{ '8. GESTION DES ETATS'|upper }}</a></div>
          <div class="col s3"><a style="color: #2A4E7F;" class="disabled">{{ '9. GESTION DES CARTES étudiants'|upper }}</a></div>
      </b>
    </div>
{% endblock %}