{% extends 'base.html' %}
{% block title %}Documentation Scolarité | Paiements{% endblock %}
{% block breadcrumb %}
    <b>
        <a style="color: #2a4e7f;" href="{% url 'morpheus_doc' %}" class="breadcrumb">{{ 'Morpheus Documentation'|upper }}</a>
        <a style="color: #2a4e7f;" href="{% url 'sco_accueil' %}" class="breadcrumb">{{ 'Morpheus Scolarité'|upper }}</a>
        <a style="color: #686868;"  href="#" class="disabled breadcrumb">{{ 'GESTION DES BOURSES ET REDUCTIONS SUR PENSION'|upper }}</a>
    </b>

{% endblock %}
{% block body %}
    {% load static %}
    <div class="row">
        <div class="col s3">
            <div style="position: fixed;">
                <a style="color: #2a4e7f;" href="#bourse"><b>{{ 'BOURSES'|upper }}</b></a><br/>
                <a style="color: #686868; padding-left: 10px;" href="#annee_aca">(1)    Année Académique</a><br/>
                <a style="color: #686868; padding-left: 10px;" href="#filtre">(2)   Filtre</a><br/>
                <a style="color: #686868; padding-left: 10px;" href="#z_search">(3) Zone de Recherche</a><br/>
                <a style="color: #686868; padding-left: 10px;" href="#tbl_etd">(4)	Tableau d’étudiants</a><br/>
                <a style="color: #686868; padding-left: 10px;" href="#edit_bourse">(5)	Edition des Bourses</a><br/>

                <a style="color: #2a4e7f;" href="#reduction"><b>{{ 'Reduction Pension'|upper }}</b></a><br/>
                <a style="color: #686868; padding-left: 10px;" href="#annee_aca2">(1)	Année Académique</a><br/>
                <a style="color: #686868; padding-left: 10px;" href="#b_search">(2)	Le Bouton « Recherche »</a><br/>
                <a style="color: #686868; padding-left: 10px;" href="#ec_cy">(3)	Ecoles & Cycles</a><br/>
                <a style="color: #686868; padding-left: 10px;" href="#z_search2">(4)	Zone de recherche</a><br/>
                <a style="color: #686868; padding-left: 10px;" href="#l_etd">(5)	Liste des étudiants</a><br/>
            </div>
        </div>
        <div style="text-align: justify" class="col s9">
            <h4><b style="color: #2a4e7f;">{{ 'GESTION DES BOURSES ET REDUCTIONS SUR PENSION'|upper }}</b></h4>
            <p>
                Dans ce Chapitre nous verrons principalement comment attribuer des bourses et faire des réductions sur les pensions (frais de scolarité) aux étudiants.
            </p>
            <h5 id="bourse"><b style="color: #686868;">{{ 'BOURSES'|upper }}</b></h5><hr/>
            <p>
                Dans cette partie nous verrons comment créer les bourses et les affecter aux étudiants. Ce travail s’effectue sur l’interface suivante.
            </p>
            <img class="materialboxed responsive-img card" width="1287" height="534" style="border: 5px;" src="{% static 'img/sco-img/sco-bourse.png' %}">
            <sup>Interface de gestion des Bourses</sup>

            <h6 id="annee_aca"><b>(1)	Année Académique</b></h6>
            <hr>
            <p>
                Permet de lister les années académiques utilisables du système pour pouvoir ainsi manipuler les étudiants inscrits pour l’année choisi.
                La sélection d’une année académique va permettre d’activer la zone de recherche <b>(3)</b> et de lister les bourses <b>(5)</b> créées pour cette année académique là.
            </p>

            <h6 id="filtre"><b>(2)	Filtre</b></h6>
            <hr>
            <p>
                Ce bloc permet de choisir une classe en filtrant par école et par cycle.
            </p>
            <img class="materialboxed responsive-img card" width="917" height="152" style="border: 5px;" src="{% static 'img/sco-img/sco-bourse-filtre.png' %}">
            <sup>Choix Ecole / Cycle / Classe</sup>
            <p>
                Le choix de la classe va lister les étudiants inscrits dans cette classe pour l’année académique choisit dans le tableau (<b style="color: #c00000">encadré en rouge</b>).
            </p>

            <h6 id="z_search"><b>(3)	Zone de Recherche</b></h6>
            <hr>
            <p>
                Ce bloc permet de rechercher un étudiant dans la classe afin d’avoir un accès plus rapide à celui-ci.
            </p>

            <h6 id="tbl_etd"><b>(4)	Tableau d’étudiants</b></h6>
            <hr>
            <p>
                Ce tableau ce charge après avoir choisi une classe <b>(2)</b> et liste les étudiants inscrits dans la classe.
            </p>
            <img class="materialboxed responsive-img card" width="926" height="256" style="border: 5px;" src="{% static 'img/sco-img/sco-bourse-list-etd.png' %}">
            <sup>Liste des étudiants d'une classe</sup>

            <p style="size: 20px;color: #2A4E7F;"><b>•	Affectation d’une Bourse</b></p>
            <p>
                Le clic sur le lien <b  style="color: #2A4E7F;">« Affecter une Bourse »</b> permet l’affectation d’une bourse à un étudiant en ouvrant la fenêtre suivante.
            </p>
            <img class="materialboxed responsive-img card" width="955" height="407" style="border: 5px;" src="{% static 'img/sco-img/sco-bourse-search.png' %}">
            <sup>Recherche d'une Bourse</sup>
            <p>
                Sur laquelle on peut rechercher une bourse à travers son code pour un accès rapide et cliquer sur le lien <b>« Choisir »</b> qui va affecter la bourse à l’étudiant après confirmation.
            </p>

            <p style="size: 20px;color: #2A4E7F;"><b>•	Liste des bourses d’un étudiant</b></p>
            <p>
                Le clic sur le lien <b  style="color: #2A4E7F;">« Afficher ses Bourses »</b> sur l’étudiant permet de lister les bourses de ce dernier dans la fenêtre suivante.
            </p>
            <img class="materialboxed responsive-img card" width="654" height="116" style="border: 5px;" src="{% static 'img/sco-img/sco-bourse-bourse.png' %}">
            <sup>Bourses d'un étudiant</sup>

            <h6 id="edit_bourse"><b>(5)	Edition des Bourses</b></h6>
            <hr>
            <p>
                L’interface suivant permet l’édition des bourses c’est-à-dire l’ensemble de manipulation concernant les bourses que nous allons détailler par la suite.
            </p>
            <img class="materialboxed responsive-img card" width="1072" height="453" style="border: 5px;" src="{% static 'img/sco-img/sco-bourse-list-bourse.png' %}">
            <sup>Liste des Bourses</sup>

            <p style="size: 20px;color: #2A4E7F;"><b>•	Le Bouton « Nouvelle Bourse »</b></p>
            <p>
                Le clic sur le bouton <b>« Nouvelle Bourse »</b> (<b style="color: #ffc000;">encadré en jaune</b>) permet d’ouvrir la fenêtre permettant la création  d’une bourse.
            </p>
            <img class="materialboxed responsive-img card" width="652" height="422" style="border: 5px;" src="{% static 'img/sco-img/sco-bourse-attrib.png' %}">
            <sup>Fenêtre d'attribution d'une Bourse</sup>
            <p>
                Dans laquelle on renseigne les informations de la bourse ainsi que la liste des boursiers qu’on peut ajouter ou retire.
            </p>
            <p>
                Le clic sur <b><i>Le Bouton « Ajouter un Boursier »</i></b> va ouvrir la fenêtre suivante, dans laquelle on va entrer les informations du boursier.
            </p>
            <img class="materialboxed responsive-img card" width="542" height="230" style="border: 5px;" src="{% static 'img/sco-img/sco-bourse-add.png' %}">
            <sup>Ajout d'un boursier</sup>
            <p>
                Il suffit de saisir les informations du boursier et de cliquer sur le bouton « <b>Ajouter</b> » et le boursier sera donc ainsi ajouter dans la liste.
            </p>
            <p>
                Dans le cas où le boursier est un étudiant de l’établissement on a sur l’onglet « <b>Etudiant</b> » et on fait la recherche de ce dernier.
            </p>
            <img class="materialboxed responsive-img card" width="543" height="251" style="border: 5px;" src="{% static 'img/sco-img/sco-bourse-add2.png' %}">
            <sup>Recherche d'un étudiant</sup>
            <p>
                Ensuite il suffit de cliquer sur le lien « <b>Ajouter</b> » pour ajouter l’étudiant à la liste des boursiers.
            </p>
            <p>
                Le clic sur <b><i>Le lien « Retirer »</i></b> va enlever le boursier dans la liste.
            </p>
            <p>
                Et pour finir il suffit de cliquer sur bouton « Enregistrer » pour sauvegarder la bourse.
            </p>

            <p style="size: 20px;color: #2A4E7F;"><b>•	Le Bouton « Nouvelle Bourse Express »</b></p>
            <p>
                Le clic sur ce bouton va ouvrir une fenêtre de création de plusieurs bourses instantanément en fonction du nombre de bourses saisi.
            </p>
            <img class="materialboxed responsive-img card" width="610" height="278" style="border: 5px;" src="{% static 'img/sco-img/sco-bourse-express.png' %}">
            <sup>Bourses Express</sup>

            <p style="size: 20px;color: #2A4E7F;"><b>•	Le lien « Imprimer Lot »</b></p>
            <p>
                Le clic sur ce lien va permettre d’imprimer le Certificat de la bourse.
            </p>

            <h5 id="reduction"><b style="color: #686868;">{{ 'REDUCTION PENSION'|upper }}</b></h5><hr/>
            <p>
                Dans cette a pour principal rôle l’attribution d’une réduction à un étudiants inscrit et cela sur l’interface suivante.
            </p>
            <img class="materialboxed responsive-img card" width="1284" height="626" style="border: 5px;" src="{% static 'img/sco-img/sco-reduc.png' %}">
            <sup>Interface de Gestion des réductions sur Pension</sup>

            <h6 id="annee_aca2"><b>(1)	Année Académique</b></h6><hr/>
            <p>
                Permet de lister les années académiques utilisables du système pour pouvoir ainsi manipuler les étudiants inscrits pour l’année choisi.
                Le Choix d’une année académique activera <b>Le Bouton « Recherche »(2)</b> et permettra par la suite d’avoir les étudiants inscrit pour une classe dans l’année.
            </p>

            <h6 id="b_search"><b>(2)	Le Bouton « Recherche »</b></h6><hr/>
            <p>
                Le clic sur ce bouton va ouvrir une fenêtre dans laquelle on effectuera la recherche sur les réductions affectées.
            </p>
            <img class="materialboxed responsive-img card" width="576" height="401" style="border: 5px;" src="{% static 'img/sco-img/sco-reduc-search.png' %}">
            <sup>Recherche des réductions sur pension accordé</sup>
            <p>
                La recherche est filtrée en fonction du MATRICULE, du MONTANT ou du NOM de l’étudiant à qui on a accordé la réduction.
            </p>

            <h6 id="ec_cy"><b>(3)	Ecoles & Cycles</b></h6><hr/>
            <p>
                Ce bloc permet de lister les étudiants dans le tableau (<b style="size: 20px;color: #18c017;">encadré en vert</b>) grâce au filtre qui permet de trier la classe en fonction du cycle et de l’école.
            </p>

            <h6 id="z_search2"><b>(4)	Zone de recherche</b></h6><hr/>
            <p>
                Elle permet de rechercher un étudiant dans la classe afin d’avoir un accès plus rapide à cet étudiant.
            </p>

            <h6 id="l_etd"><b>(5)	Liste des étudiants</b></h6><hr/>
            <img class="materialboxed responsive-img card" width="600" height="255" style="border: 5px;" src="{% static 'img/sco-img/sco-reduc-list-etd.png' %}">
            <sup>Liste des étudiants d'une Classe</sup>

            <p style="size: 20px;color: #2A4E7F;"><b>•	Attribution d’une Réduction</b></p>
            <p>
                Le clic sur le lien <b>« Attribuer une réduction »</b> d’un étudiant permet d’ouvrir une fenêtre suivante.
            </p>
            <img class="materialboxed responsive-img card" width="885" height="424" style="border: 5px;" src="{% static 'img/sco-img/sco-reduc-aff.png' %}">
            <sup>Affectation d'une réduction sur Pension</sup>
            <p>
                Dans laquelle on peut <b>« Ajouter »</b>, <b>« Mettre à Jour »</b> ou <b>« Supprimer »</b> une réduction.
            </p>

            <p style="size: 20px;color: #2A4E7F;"><b>•	La scolarité de l’étudiant</b></p>
            <p>
                Le clic sur le lien <b>« Scolarité »</b> d’un étudiant permet d’afficher les détails sur la scolarité de toutes les années que ce dernier à fait dans l’établissement  dans la fenêtre suivante.
            </p>
            <img class="materialboxed responsive-img card" width="755" height="128" style="border: 5px;" src="{% static 'img/sco-img/sco-reduc-pension.png' %}">
            <sup>Pensions Antérieures de l'étudiant</sup>

        </div>
    </div>
    <div class="row">
      <b>
          <div class="col s3"></div>
          <div class="col s3"><a href="{%   url 'sco_gest_paie' %}">{{ '4. GESTION DES PAIEMENTS'|upper }}</a></div>
          <div class="col s3"><a style="color: #2A4E7F;" class="disabled">{{ '5. GESTION DES BOURSES ET REDUCTIONS'|upper }}</a></div>
          <div class="col s3"><a href="{%   url 'sco_gest_exm_nat' %}">{{ '6. GESTION DES EXAMENS NATIONAUX'|upper }}</a></div>
      </b>
    </div>
{% endblock %}