{% extends 'base.html' %}
{% block title %}Documentation Scolarité | Configuration{% endblock %}
{% block breadcrumb %}
    <b>
        <a style="color: #2a4e7f;" href="{% url 'morpheus_doc' %}" class="breadcrumb">{{ 'Morpheus Documentation'|upper }}</a>
        <a style="color: #2a4e7f;" href="{% url 'sco_accueil' %}" class="breadcrumb">{{ 'Morpheus Scolarité'|upper }}</a>
        <a style="color: #686868;"  href="#" class="disabled breadcrumb">{{ 'Approche Configuration'|upper }}</a>
    </b>

{% endblock %}
{% block body %}
    {% load static %}
    <div class="row">
        <div class="col s3">
            <div style="position: fixed;">
                <a style="color: #2a4e7f;" href="#c_pension"><b>{{ 'Configuration Pension'|upper }}</b></a><br/>
                <a style="color: #686868; padding-left: 10px;" href="#c_ty_paie">(1). Type Paiement</a><br/>
                <a style="color: #686868; padding-left: 10px;" href="#c_tranche">(2). Tranche</a><br/>
                <a style="color: #686868; padding-left: 10px;" href="#c_pension">(3). Pension</a><br/>
                <a style="color: #686868; padding-left: 10px;" href="#c_niv_opt">(4). Niveau - Option</a><br/>
                <a style="color: #686868; padding-left: 10px;" href="#c_profil">(5). Profil</a><br/>
                <a style="color: #686868; padding-left: 10px;" href="#c_tra_pen">(6). Tranche / Pension</a><br/>
                <a style="color: #686868; padding-left: 10px;" href="#c_tarif_tp">(7). Tarif Niveau-Option</a><br/>
                <a style="color: #2a4e7f;" href="#c_dossier"><b>{{ 'Configuration Dossiers Administratifs'|upper|truncatewords:25 }}</b></a><br/>
                <a style="color: #2a4e7f;" href="#c_service_bourse"><b>{{ 'Services et Bourse'|upper }}</b></a><br/>
            </div>

        </div>
        <div style="text-align: justify" class="col s9">
            <h4><b style="color: #2a4e7f;">{{ 'Approche Configuration du module'|upper }}</b></h4>
            <p>
                Ce chapitre concerne les configurations, nous allons par la suite présenter dans les moindres détails comment utiliser cette partie.
            </p>
            <h5 id="c_pension"><b style="color: #686868;">{{ 'Configuration Pension'|upper }}</b></h5>
            <hr/>
            <p>
                Il s’agit ici des configurations se rapportant à l’inscription et aux paiements et s’effectue sur l’interface ci-dessous.
            </p>
            <img class="materialboxed responsive-img card" width="1200" height="450" style="border: 5px;" src="{% static 'img/sco-img/acc-config-pension.png' %}">
            <sup>Interface d'Accueil sur les Configuration de Pension</sup>

            <p>Nous allons donc repartir ces configurations par catégorie.</p>

                <h6 id="c_ty_paie"><b>(1)	Type Paiement</b></h6>
                <hr>
            <img class="materialboxed responsive-img card" width="1200" height="450" style="border: 5px;" src="{% static 'img/sco-img/config-ty-paie.png' %}">
            <sup>Interface 'Configuration Pension - Type Paiement'</sup>

            <p>
                Le Type de Paiement est un mode de paiement qu’un étudiant peut utiliser pour payer ses frais de scolarité (Espèce, Chèque, Virement Bancaire, etc…).
            </p>
            <p>
                Comme vous pouvez le voir dans la figure ci-dessus, cette page apparait directement lorsque l’on clique sur le lien <b>« <i>Configuration Pension</i> »</b> du TABLEAU DE BORD SCOLARITE et permet la manipulation des types de paiement : qui nous sera utile lorsque voudra effectuer le paiement des frais de scolarité d’un étudiant dans le sous module <span style="color: #2A4E7F;">PAIEMENT</span>.
            </p>
            <p>
                Le bouton <b>« <i>Ajouter</i> »</b> (<span style="color: #ffc000">encadrer en jaune</span>) : permet d’ajouter un nouveau type de paiement, le clic sur ce dernier fera apparaitre une mini fenêtre dans laquelle on saisira les informations du nouveau type de paiement (voir figure ci-dessous).
            </p>

            <img class="materialboxed responsive-img card" width="380" height="225" style="border: 5px;" src="{% static 'img/sco-img/config-ty-paie-edit.png' %}">
            <sup>édition d'un Type de paiement</sup>

            <p>
                Le clic sur le bouton <b>« <i>Enregistrer</i> »</b> ajoutera le type de paiement dans le tableau en affichant un message de confirmation.</p>
            <p>
                Le lien <b>« <i>Editer</i> »</b> du tableau (<span style="color: #2A4E7F;">encadrer en bleu</span>) : permet d’effectuer des modifications sur le type de paiement choisi. Ce dernier ouvrira la mini fenêtre ci-dessus avec les informations du type de paiement choisi, vous pouvez donc par la suite apporter des modifications comme vous le souhaitez et enregistrer.
            </p>

                <h6 id="c_tranche"><b>(2)	Tranche</b></h6>
                <hr>
            <p>Il s’agit ici des tranches de paiements des frais de scolarité.</p>
            <img class="materialboxed responsive-img card" width="1165" height="325" style="border: 5px;" src="{% static 'img/sco-img/config-tranche.png' %}">
            <sup>Interface 'Configuration Pension - Tranche'</sup>
            <p>
                Cette page permet l’ajout et l’édition des tranches à travers les boutons <b>Ajouter (<span style="color: #ffc000">Jaune</span>)</b> et <b>Modifier (<span style="color: #2A4E7F;">Bleu</span>)</b>. Pour pouvoir effectuer une modification sur une tranche faudrait d’abord le sélectionner dans le tableau.
            </p>
            <h6 id="c_pension"><b>(3)	Pension</b></h6>
                <hr>
            <p>La Pension est un montant que l’on va attribuer à l’inscription d’un étudiant qui sera considérer comme c’est frais de scolarité.</p>
            <p>Il s’agit ici de l’ensemble des pensions effectives dans l’établissement.</p>
            <img class="materialboxed responsive-img card" width="1160" height="477" style="border: 5px;" src="{% static 'img/sco-img/config-pension.png' %}">
            <sup>Interface 'Configuration Pension - Pension'</sup>

            <p>
                Cette page permet l’ajout et l’édition des pensions  à travers les boutons <b>Ajouter (<span style="color: #ffc000">Jaune</span>)</b> et <b>Modifier (<span style="color: #2A4E7F;">Bleu</span>)</b>. Pour pouvoir effectuer une modification sur une pension faudrait d’abord le sélectionner dans le tableau ci-dessus.
            </p>

            <h6 id="c_niv_opt"><b>(4)	Niveau – Option</b></h6>
                <hr>
            <p>
                Cette partie permet la mise en relation d’une option et d’un niveau.
            </p>
            <img class="materialboxed responsive-img card" width="1160" height="560" style="border: 5px;" src="{% static 'img/sco-img/config-niv-opt.png' %}">
            <sup>Interface 'Configuration Pension - Niveau/Option'</sup>

            <p>
                Le bouton <b>« <i>Nouveau</i> » (<span style="color: #2A4E7F;">encadré en bleu</span>)</b> permet une nouvelle affectation d’une option à un niveau, le clic sur ce bouton ouvrira une fenêtre dans laquelle on pourra effectuer les configurations comme bon nous semble (voir figure ci-dessous).
            </p>
            <img class="materialboxed responsive-img card" width="378" height="215" style="border: 5px;" src="{% static 'img/sco-img/config-niv-opt-add.png' %}">
            <sup>Ajout d'un Niveau-Option</sup>

            <p>Apres avoir sélectionner les différents éléments pour configurer un niveau-option, le bouton « Enregistrer » deviendra actif pour l’enregistrement. S’il ne l’est pas c’est que cette configuration existe déjà, le bouton « <b><i>Enregistrer</i></b> » restera donc grisé.</p>
            <p>Le lien <b>« <i>Supprimer</i> » (encadré en <span style="color: #ffc000">jaune</span>)</b> permet de supprimer un niveau-option après confirmation s’il n’est pas déjà utilisé.</p>
            <p>Le lien <b>« <i>Reconduire</i> » (encadré en <span style="color: #c00000">rouge</span>)</b> permet de reconduire un niveau-option d’une année à une autre en vue de faciliter la tâche aux utilisateurs.</p>

            <img class="materialboxed responsive-img card" width="230" height="113" style="border: 5px;" src="{% static 'img/sco-img/config-niv-opt-rec.png' %}">
            <sup>Reconduction d'un Niveau-Option</sup>

            <p>La fenêtre ci-dessus apparaitra avoir cliqué sur ce lien, il vous faudra juste choisir l’année académique dans laquelle vous souhaité reconduire le niveau-option et enregistrer. Un message d’erreur apparaitra si le niveau-option sélectionné existe déjà pour l’année en question dans le cas contraire un message de confirmation vous sera affiché.</p>

            <h6 id="c_profil"><b>(5)	Profil</b></h6>
            <hr>
            <p>Le Profil concerne l’inscription, il définira en quelques sorte le type d’inscription que l’on accordera à l’étudiant. On l’associera à une pension et un niveau-option (voir paragraphe <a>(6) Tranche / Pension</a>).</p>
            <img class="materialboxed responsive-img card" width="1157" height="495" style="border: 5px;" src="{% static 'img/sco-img/config-profil.png' %}">
            <sup>Interface Configuration - Profil</sup>

            <p>Cette page liste les différents profils d’inscription.</p>
            <p>Le bouton <b>« <i>Ajouter</i> » (<span style="color: #2A4E7F;">encadré en bleu</span>)</b> permet d’ajouter un nouveau profil</p>
            <p>Le lien <b>« <i>Editer</i> » (<span style="color: #ffc000">encadré en jaune</span>)</b> permet de faire une édition du profil</p>
            <p><b><u>NB</u></b> : Lorsqu’un profil est NON ACTIF il ne pourra pas être utilisé dans le sous module <b>INSCRIPTION ET TRANSFERT</b>.</p>

            <h6 id="c_tra_pen"><b>(6)	Tranche / Pension</b></h6>
            <hr>

            <p>Cette partie dispose de plusieurs fonctionnalités, dont nous allons détailler leur manipulation ci-dessous. Il s’agit de : </p>
            <ul>
                <ol>-	Affectation d’une pension à profil et un niveau-option</ol>
                <ol>-	Affectation d’une pension à un profil et plusieurs niveau-options</ol>
                <ol>-	Reconduction d’une affectation d’une année académique à une autre</ol>
                <ol>-	Répartition des tranches en fonction des affectations</ol>
            </ul>
            <img class="materialboxed responsive-img card" width="1199" height="328" style="border: 5px;" src="{% static 'img/sco-img/config-tra-pen.png' %}">
            <sup>Interface Configuration - Tranche/Pension</sup>

            <p style="size: 20px;color: #2A4E7F;"><b>•	Affectation d’une pension à un profil et un niveau-option</b></p>
            <p>Après avoir sélectionner l’année académique ainsi que les différents composants du bloc <b>« <i>Filtre</i> » (encadré en noir)</b>, le  lien « <b><i>Affectation Pension/Filière</i></b> » (<span style="color: #0f9d58"><b>encadré en vert</b></span>) sera actif et un clic dessus ouvrira la fenêtre suivante : </p>
            <img class="materialboxed responsive-img card" width="460" height="228" style="border: 5px;" src="{% static 'img/sco-img/config-tra-pen-link-ppr.png' %}">
            <sup>Liaison d'une Pension à un Profil et un Régime pour une option précise</sup>
            <p>Dans cette fenêtre, on effectue une recherche d’une pension à travers sa pension ensuite on sélectionne la pension retourné dans le tableau et avant d’enregistrer veuillez choisir un profil (voir paragraphe <a>(5) Profil</a>) et un régime (COURS DU JOUR ou COURS DU SOIR).</p>

            <p style="size: 20px;color: #2A4E7F;"><b>•	Affectation d’une pension à un profil plusieurs niveau-options</b></p>
            <p>Après avoir sélectionné une année académique, le clic sur lien « <b><i>Affectation Multiple</i></b> » (<span style="color: #ed7d31;">encadré en Orange</span>) ouvrira la fenêtre suivante : </p>

            <img class="materialboxed responsive-img card" width="462" height="469" style="border: 5px;" src="{% static 'img/sco-img/config-tra-pen-link-ppr+.png' %}">
            <sup>Liaison d'une Pension à un Profil et un Régime pour plusieurs options</sup>
            <p>Dans cette fenêtre, on effectue une recherche d’une pension à travers son montant, on sélectionne la pension retourné dans le tableau. Après avoir choisi l’école, le cycle, le niveau, on choisit les options  (<span style="color: #b97a57">encadré en marron</span>) concernées ainsi que le profil et le régime avant d’enregistrer.</p>

            <p><b><u>NB</u></b> : Ces affectations nous aidera au niveau de l’inscription d’un étudiant, qui déterminera la scolarité qu’un étudiant devra verser à l’établissement en fonction de sa classe et du profil choisi</p>

            <p style="size: 20px;color: #2A4E7F;"><b>•	Reconduction d’une affectation d’une année académique à une autre</b></p>
            <p>Dans le but de facilité la taches au utilisateur, on peut reconduire une affectation d’une année antérieur à celle que l’on a sélectionné. Pour cela, il suffit de cliquer sur le lien « <b><i>Reconduire</i></b> » (<span style="color: #2A4E7F">encadré en bleu</span>) et la fenêtre suivante :</p>
            <img class="materialboxed responsive-img card" width="753" height="444" style="border: 5px;" src="{% static 'img/sco-img/config-tra-pen-rec.png' %}">
            <sup>fenêtre de reconduction des affectations pour une année académique</sup>
            <p>Cette fenêtre liste les différentes affectations des années antérieures à celle choisi et possède un filtre par école et cycle.
                Il suffit donc de cliquer sur le lien « <b><i>Reconduire</i></b> » (<span style="color: #2A4E7F">encadré en bleu</span>) d’une affection pour effectuer une reconduction après confirmation.
                Si l’affectation existe déjà pour l’année en cours un message d’erreur vous sera renvoyer dans le cas contraire ce sera plutôt un message de confirmation.</p>

            <p style="size: 20px;color: #2A4E7F;"><b>•	Répartition des tranches en fonction des affectations</b></p>
            <p>Il s’agit ici de repartir une affectation en plusieurs tranches (plus connu comme la répartition de la pension en tranche).
                Et pour le faire il suffit de cliquer sur le lien « <b><i>Tranches Affectées</i></b> » (<span style="color: #c00000">encadré en rouge</span>), s’ouvrira alors la fenêtre suivante :</p>

            <img class="materialboxed responsive-img card" width="703" height="179" style="border: 5px;" src="{% static 'img/sco-img/config-tra-pen-add-tranche.png' %}">
            <sup>Fenêtre de création des tranches d'une pension</sup>
            <p>Cette fenêtre de lister les différentes repartions de tranches pour une affectation. On peut ainsi  Ajouter, Editer ou supprimer une tranche attribuée.</p>
            <p>Le clic sur le bouton « <b><i>Ajouter</i></b> » ouvre la fenêtre suivante : </p>

            <img class="materialboxed responsive-img card" width="377" height="275" style="border: 5px;" src="{% static 'img/sco-img/config-tra-pen-add-tranche+.png' %}">
            <sup>Fenêtre d'ajout d'une tranche</sup>
            <p>Qui permettra de configurer l’attribution d’une tranche.</p>
            <p>La même interface mais au préalablement remplit s’ouvrira lorsqu’on clique sur le lien « <b><i>Editer</i></b> ».</p>
            <p>La suppression s’effectue lorsqu’on clique sur le lien « <b><i>Supprimer</i></b> ».</p>

            <h6 id="c_tarif_tp"><b>(7)Tarifs Niveau-Option</b></h6>
            <hr/>
            <p>Cette partie a pour principal objectif l&rsquo;attribution des montants &agrave; des niveaux-options (voir paragraphe niveau-option) qui nous sera utile dans le module <a>INSCRIPTION ET TRANSFERT</a> &agrave; travers l&rsquo;interface suivante&nbsp;:</p>
            <img class="materialboxed responsive-img card" width="1201" height="275" style="border: 5px;" src="{% static 'img/sco-img/config-tarif-niv-opt.png' %}">
            <sup>Interfaces Configuration - Tarifs Niveau/Option</sup>
            <br />
            <em><b>L’espace filtre</b></em><br/>
            <p>L’espace filtre (<b>encadré en Noir</b>) permet de filtre les niveaux-options en fonction de l’école, le cycle, la  filière, la spécialité, l’option et le niveau sur l’année académique choisi.</p>
            <em><b>Le lien « Editer »</b></em><br/>
            <p>Le clic sur le lien « <b><i>Editer</i></b> » (<span style="color: #ffc000">encadré en jaune</span>) sur un élément du tableau permettra d’ouvrir l’interface suivante : </p>
            <img class="materialboxed responsive-img card" width="609" height="216" style="border: 5px;" src="{% static 'img/sco-img/config-tarif-niv-opt-edit.png' %}">
            <sup>Edition d'un Niveau-Option (sur son prix)</sup>
            <p>Rempli au préalable ou non en fonction du niveau-option choisi. Si le niveau-option possédait déjà des informations il s’ouvrira déjà rempli sinon il s’ouvrira vide. Dans les deux cas on saisit les informations et on enregistre.</p>

            <h5 id="c_dossier"><b style="color: #686868;">{{ 'Configuration Dossiers Administratifs'|upper }}</b></h5>
            <hr/>
            <p>Dans cette partie, il s’agit des configurations se rapportant aux documents et dispose de deux sous parties à savoir : « <b>Type de document</b> » et « <b>Document</b> » comme le montre les figures suivantes.</p>

            <img class="materialboxed responsive-img card" width="1171" height="382" style="border: 5px;" src="{% static 'img/sco-img/config-da1.png' %}">
            <sup>Interface Dossiers Administratifs - Type Document</sup>

            <img class="materialboxed responsive-img card" width="1167" height="363" style="border: 5px;" src="{% static 'img/sco-img/config-da2.png' %}">
            <sup>Interface Dossiers Administratifs - Document</sup>
            <p>Le principe de manipulation reste le même que ceux expliquer précédemment.</p>
            <em><b>Le bouton « Ajouter »</b></em><br/>
            <p>Le bouton « Ajouter » sur les interfaces permet d’ouvrir une fenêtre dans laquelle on saisira les informations avant d’enregistrer.</p>
            <em><b>Le bouton « Modifier »</b></em><br/>
            <p>Le bouton « Modifier » permet de modifier un élément du tableau après l’avoir sélectionner.</p>
            <em><b>Le bouton « Supprimer »</b></em><br/>
            <p>Le bouton « Supprimer » permet de supprimer un élément du tableau après l’avoir sélectionner.</p>

            <h5 id="c_service_bourse"><b style="color: #686868;">{{ 'Services et Bourses'|upper }}</b></h5>
            <hr/>
            <p>Dans cette partie, il s’agit des configurations se rapportant aux services et bourses qui nous aideront dans les modules <b>BOURSES ET REDUCTION</b> et <b>INSCRIPTIONS</b> et dispose de trois sous parties à savoir : « <b><i>Type de service</i></b> », « <b><i>Type de bourse</i></b> » et « <b><i>Service</i></b> » comme le montre les figures suivantes.</p>
            <img class="materialboxed responsive-img card" width="1165" height="393" style="border: 5px;" src="{% static 'img/sco-img/config-bourse-service1.png' %}">
            <sup>Interface Services et Bourses - Type de Service</sup>
            <img class="materialboxed responsive-img card" width="1160" height="313" style="border: 5px;" src="{% static 'img/sco-img/config-bourse-service2.png' %}">
            <sup>Interface Services et Bourses - Type de Bourses</sup>
            <img class="materialboxed responsive-img card" width="1162" height="251" style="border: 5px;" src="{% static 'img/sco-img/config-bourse-service3.png' %}">
            <sup>Interface Services et Bourses - Service</sup>

            <p>Le principe de manipulation reste le même que ceux expliquer précédemment.
            <em><b>Le bouton « Ajouter »</b></em><br/>
                    <p>Le bouton « Ajouter » sur les interfaces permet d’ouvrir une fenêtre dans laquelle on saisira les informations avant d’enregistrer.</p>
            <em><b>Le bouton « Modifier »</b></em><br/>
                    <p>Le bouton « Modifier » permet de modifier un élément du tableau après l’avoir sélectionner.</p>
            <em><b>Le bouton « Supprimer »</b></em><br/>
            <p>Le bouton « Supprimer » permet de supprimer un élément du tableau après l’avoir sélectionner.</p>

        </div>
    </div>


    <div class="row">
      <b>
          <div class="col s4"><a href="{%   url 'sco_intro' %}">{{ '1. Introduction Morpheus Scolarité'|upper }}</a></div>
          <div class="col s4"><a style="color: #2A4E7F;" class="disabled">{{ '2. Approche Configuration du module'|upper }}</a></div>
          <div class="col s4"><a href="{%   url 'sco_gest_etud' %}">{{ '3. Gestion des étudiants & Inscription'|upper }}</a></div>
      </b>
    </div>
{% endblock %}

<script>
        document.addEventListener('DOMContentLoaded', function() {
            var elems = document.querySelectorAll('.materialboxed');
            var instances = M.Materialbox.init(elems);
            instances.open();
          });
</script>