{% extends 'base.html' %}
{% block title %}Documentation Location | Contrats de Location{% endblock %}
{% block breadcrumb %}
    <b>
       <a style="color: #2a4e7f;" href="{% url 'morpheus_doc' %}" class="breadcrumb">{{ 'Morpheus Documentation'|upper }}</a>
        <a style="color: #2a4e7f;" href="{% url 'loc_acceuil' %}" class="breadcrumb">{{ 'Morpheus Location'|upper }}</a>
        <a style="color: #686868;"  href="#" class="disabled breadcrumb">{{ 'GESTION DES CONTRATS DE LOCATION'|upper }}</a>
    </b>

{% endblock %}
{% block body %}
    {% load static %}
    <div class="row">
        <div class="col s3 left">
            <ul style="position: fixed;">
                <a style="color: #2a4e7f;" href="#"><b>{{ 'CREATION, MODIFICATION, SUPPRESSION, DESACTIVAT...'|upper }}</b></a><br/>
                <ol><a style="color: #686868;" href="#cr_cc">(1)	Création d’un contrat de location</a></ol>
                <ol><a style="color: #686868;" href="#edit_cc">(2)    Modification, désactivation et suppression d’un contrat</a></ol>
                <ol><a style="color: #686868;" href="#out">(3)	Faire sortir un locataire</a></ol>
                <hr/>
                <a style="color: #2a4e7f;" href="#serv_cc"><b>{{ 'AJOUT, MODIFICATION, SUPPRESSION DES SERVICE...'|upper }}</b></a><br/>
                <ol><a style="color: #686868;" href="#add_serv_cc">(1)	Ajout d’un service à un contrat</a></ol>
                <ol><a style="color: #686868;" href="#edit_serv_cc">(2)	Modification et suppression des services d’un contrat </a></ol>
                <hr/>
                <a style="color: #2a4e7f;" href="#etat"><b>{{ 'ETAT DES LIEUX D’ENTREE ET DE SORTIE D’UN LOCATAIRE'|upper }}</b></a><br/>
                <ol><a style="color: #686868;" href="#etat_lieux">(1)	Faire l’état des lieux à un contrat </a></ol>
            </ul>
        </div>
        <div style="text-align: justify" class="col s9">
            <div style="text-align: justify">
                <h4><b style="color: #2a4e7f;">{{ 'GESTION DES CONTRATS DE LOCATION'|upper }}</b></h4><hr/>
                <p>
                    Ce chapitre concerne la gestion des contrats de location, nous parlerons ici de  la gestion des contrats (création, modification, suppression, désactivation), de comment faire sortir un locataire d’un local, de la gestion des services liés à un contrat (ajout, modification, suppression) et des états des lieux d’entrée et de sortie d’un locataire.
                </p>
                <p style="color: #c00000;">
                    <b><u>NB :</u></b> plus haut nous avons parlé de la création de locataire non étudiant et nous avons spécifié que pour ce type de locataire, le contrat n’était pas implicitement créé et que nous verrons par la suite comment le faire.
                    Cette partie doit directement suivre la création d’un locataire non étudiant.
                </p>

                <h5 id="contrat"><b style="color: #686868;">{{ 'CREATION, MODIFICATION, SUPPRESSION, DESACTIVATION D’UN CONTRAT ET SORTIE D’UN LOCATAIRE'|upper }}</b></h5><hr/>
                <p>
                    Un contrat dans le module location représente l’affection d’un local à un locataire pour une durée précise pendant laquelle il devra
                    s’acquitter des frais de paiement d’un ensemble de service.
                    Les services d’un contrat peuvent être alloué à partir d’un Template (comme nous l’avons vue précédemment pour les locataires étudiant)
                    ou de façon individuel (pour les locataires non étudiant. Nous verrons comment faire dans la suite de ce document).
                    Avant d’entré dans un local il est important d’établir un état des lieux du local pour le contrat du locataire la même procédure
                    est faite avant la sortie du locataire d’un local.
                </p>
                <img class="materialboxed responsive-img card" width="947" height="428"  style="border: 5px;" src="{% static 'img/loc-img/loc-contrat.PNG' %}">
                <sup>Interface de Gestion des Contrats</sup>
                <p style="color: #c00000;">
                    <b><u>NB :</u></b> Avant de réaliser tous les étapes qui vont suivre il faut d’abord sélectionner un locataire dans la liste des locataires (représenté sur la figure si dessus).
                </p>

                <h6 id="cr_cc"><b>(1)	Création d’un contrat de location</b></h6><hr>
                <img class="materialboxed responsive-img card" width="334" height="257"  style="border: 5px;" src="{% static 'img/loc-img/loc-contrat-cr.PNG' %}">
                <sup>Fenêtre de Création de Contrats</sup>
                <p>
                    En cliquant sur le bouton (<b>1</b>) on obtient le formulaire ci-dessus qui permet d’ajouter un contrat de location à un locataire.
                    Ce formulaire contient la cité et local choisi par le locataire,  la date début et la date de fin du contrat.
                </p>
                <p style="color: #c00000;">
                    <b><u>NB :</u></b> C’est information son présent sur la fiche du locataire présenté au début de la partie gestion des locataires.
                </p>

                <h6 id="edit_cc"><b>(2)    Modification, désactivation et suppression d’un contrat</b></h6><hr>
                <p>
                    Le groupe d’action en (<b>2</b>) permette respectivement l’édition d’un contrat, la désactivation d’un contrat et la suppression d’un contrat .
                </p>
                <p style="color: #c00000;">
                    <b><u>NB :</u></b> -    Il est impossible de supprimer un contrat auquel on a déjà ajouté des services ou fait un état des lieux.<br/>
                    -	un locataire ne peut avoir qu’un seul contrat actif d’où la présence du bouton désactivé contrat  qui permet de désactivé un ancien contrat lorsque un nouveau est ajouté.
                </p>
                <img class="materialboxed responsive-img card" width="372" height="458"  style="border: 5px;" src="{% static 'img/loc-img/loc-contrat-err.PNG' %}">
                <sup>Fenêtre d'Erreur</sup>

                <h6 id="out"><b>(3)	Faire sortir un locataire </b></h6><hr>
                <p>
                    Le bouton  (<b>3</b>)  (CLOSE) permet de faire sortie un locataire d’un local et de terminer son contrat si celui ne l’est pas encore.
                </p>
                <img class="materialboxed responsive-img card" width="444" height="145"  style="border: 5px;" src="{% static 'img/loc-img/loc-contrat-sortir.PNG' %}">
                <sup>Fenêtre de Confirmation de la sortie d'un Locataire</sup>

                <h5 id="serv_cc"><b style="color: #686868;">{{ 'AJOUT, MODIFICATION, SUPPRESSION DES SERVICE D’UN CONTRAT'|upper }}</b></h5><hr/>
                <p>
                    Après avoir créé un contrat, il faut lui ajouter des services.
                    Les services sont des éléments qui permettent de générer les factures d’un locataire après une période défini lors de l’ajout du service au contrat.
                </p>
                <p>
                    Exemple : un locataire non étudiant peut payer le service loyer chaque mois alors qu’un autre peut payer le service loyer chaque  six mois.
                </p>
                <img class="materialboxed responsive-img card" width="964" height="618"  style="border: 5px;" src="{% static 'img/loc-img/loc-contrat-service.PNG' %}">
                <sup>Interface de Gestion des Contrats - Services</sup>

                <h6 id="add_serv_cc"><b>(1)	Ajout d’un service à un contrat </b></h6><hr>
                <img class="materialboxed responsive-img card" width="597" height="319"  style="border: 5px;" src="{% static 'img/loc-img/loc-contrat-service-add.PNG' %}">
                <sup>Fenêtre d'Ajout d’un service à un contrat</sup>
                <p>
                    Après avoir sélectionné le contrat auquel on veut ajouter des services, il faut cliquer le bouton (<b>1</b>)
                </p>
                <ul>
                    Pour lancer le formulaire d’ajout de service. Ce formulaire contient :
                    <ol>-	Une liste déroulante contenant la liste des services disponibles dans la cité</ol>
                    <ol>-	Un champ à remplir pour le montant que le locataire devra payer pour le service.<br/>
                        NB : il existe deux types de service les services : les services payer avant la consommation (loyer, caution) et ceux payer après la consommation (électricité, eau).
                    </ol>
                    <ol>-	La fréquence de paiement du service. Ici il s’agit de la période après laquelle le locataire devrai recevoir une facture pour le service (1/mois = après chaque un mois ; 6/mois après chaque 6 mois, 1/ans après chaque un an).</ol>
                    <ol>-	La date de début de paiement du service. La date de fin est déterminée par la fréquence de paiement. </ol>
                </ul>

                <h6 id="edit_serv_cc"><b>(2)	Modification et suppression des services d’un contrat </b></h6><hr>
                <p>
                    Le groupe d’action en (<b>2</b>) permette respectivement l’édition du service d’un contrat, et la suppression du service d’un contrat.
                </p>

                <h5 id="etat"><b style="color: #686868;">{{ 'ETAT DES LIEUX D’ENTREE ET DE SORTIE D’UN LOCATAIRE'|upper }}</b></h5><hr/>
                <p>
                    L’état des lieux permet d’avoir un aperçu du local avant l’entrée et après la sortie du locataire. L’état des lieux d’entrée permet de savoir l’état des meubles du local avant l’entrée du locataire, l’état des lieux de sortie permet de savoir l’état des meubles du local après la sortie du locataire.
                    Ces deux état permettrons de savoir les meubles qui ont été dégradés dans le local pendant le séjour du locataire les les frais de dégradation de ces meubles seront prélevés sur la caution du locataire.
                </p>
                <img class="materialboxed responsive-img card" width="920" height="494"  style="border: 5px;" src="{% static 'img/loc-img/loc-contrat-etat.PNG' %}">
                <sup>Interface de Gestion des Contrats - Etats</sup>

                <h6 id="etat_lieux"><b>(1)	Faire l’état des lieux à un contrat </b></h6><hr>
                <img class="materialboxed responsive-img card" width="442" height="550"  style="border: 5px;" src="{% static 'img/loc-img/loc-contrat-etlieux.PNG' %}">
                <sup>Fenêtre pour état des lieux</sup>
                <p>
                    Après avoir cliqué sur le bouton (<b>1</b>) on obtient le formulaire si dessus qui permet de faire l’état des lieux d’un contrat. Il contient :
                </p>
                <ul>
                    <ol>-	le type d’état des lieux (entrée/sortie)</ol>
                    <ol>-	la date de réalisation de l’état des lieux</ol>
                    <ol>-	la liste des meubles du local suivi d’un champs permettant d’ajouter une notification pour mieux expliquer un problème sur un meuble ou autre chose et des champs à cocher permettant de spécifier que le meuble est en bon état ou non (cocher si le meuble est en bonne état).</ol>
                </ul>

            </div>
        </div>
    </div>
    <div class="row">
        <b>
            <div class="col s3"></div>
            <div class="col s3"><a href="{%   url 'loc_locataire' %}">{{ '3.  GESTION DES LOCATAIRESE'|upper }}</a></div>
            <div class="col s3"><a style="color: #2A4E7F;" class="disabled">{{ '4.  GESTION DES CONTRATS DE LOCATION'|upper }}</a></div>
            <div class="col s3"><a href="{%   url 'loc_paiement' %}">{{ '5. GESTION DES PAIEMENTS DES LOCATAIRES'|upper }}</a></div>
        </b>
    </div>
{% endblock %}