{% extends 'base.html' %}
{% block title %}Documentation Location | Locataire{% endblock %}
{% block breadcrumb %}
    <b>
       <a style="color: #2a4e7f;" href="{% url 'morpheus_doc' %}" class="breadcrumb">{{ 'Morpheus Documentation'|upper }}</a>
        <a style="color: #2a4e7f;" href="{% url 'loc_acceuil' %}" class="breadcrumb">{{ 'Morpheus Location'|upper }}</a>
        <a style="color: #686868;"  href="#" class="disabled breadcrumb">{{ 'GESTION DES LOCATAIRES'|upper }}</a>
    </b>

{% endblock %}
{% block body %}
    {% load static %}
    <div class="row">
        <div class="col s3 left">
            <ul style="position: fixed;">
                <a style="color: #2a4e7f;" href="#gest_loc"><b>{{ 'Gestion des locataires'|upper }}</b></a><br/>
                <ol><a style="color: #686868;" href="#cr_loc1">(1)	Création d’un locataire étudiant</a></ol>
                <ol><a style="color: #686868;" href="#cr_loc2">(2)	Création d’un locataire non étudiant</a></ol>
                <ol><a style="color: #686868;" href="#regle_frais">(3)	Régler les frais de location d’un locataire</a></ol>
                <ol><a style="color: #686868;" href="#p_list_loc">(4)	Imprimer la liste des locataires ...</a></ol>
                <ol><a style="color: #686868;" href="#p_period">(5)	Imprimer l’état périodique des versements</a></ol>
                <ol><a style="color: #686868;" href="#p_dispo">(6)	Imprimer l’état de disponibilité des cités</a></ol>
            </ul>
        </div>
        <div style="text-align: justify" class="col s9">
            <div style="text-align: justify">
                <h4><b style="color: #2a4e7f;">{{ 'GESTION DES LOCATAIRES'|upper }}</b></h4><hr/>
                <p>
                    Ce chapitre concerne la gestion des locataires, nous y parlerons ici de comment créer un locataire étudiant et un locataire non étudiant,
                    présenterons comment payer les frais de location d’un locataire et les états de location.
                </p>
                <img class="materialboxed responsive-img card" width="558" height="458"  style="border: 5px;" src="{% static 'img/loc-img/fiche-renseignement.PNG' %}">
                <sup>Fiche de renseignement d'un Locataire</sup>
                <p>
                    La figure si dessus représente la fiche d’un locataire.
                    Cette fiche doit obligatoirement être remplie avant l’enregistrement d’un locataire car ce sont les informations de cette fiche
                    qui permettra la création d’un locataire et de son contrat de location.
                </p>

                <h5 id="gest_loc"><b style="color: #686868;">{{ 'Gestion des locataires '|upper }}</b></h5><hr/>
                <img class="materialboxed responsive-img card" width="1087" height="601"  style="border: 5px;" src="{% static 'img/loc-img/loc-gest-loc.PNG' %}">
                <sup>Interface de Gestion des Locataires</sup>

                <h6 id="cr_loc1"><b>(1)	Création d’un locataire étudiant</b></h6><hr>
                <img class="materialboxed responsive-img card" width="813" height="560"  style="border: 5px;" src="{% static 'img/loc-img/loc-gest-loc-cr-loc.PNG' %}">
                <sup>Fenêtre de création d'un Locataire via un étudiant</sup>
                <p>
                    En cliquant sur le bouton (<b>1</b>) (Nouveau locataire) on obtient le formulaire ci-dessus qui permet d’ajouter un locataire étudiant.
                    L’ajout se passe comme suite :
                </p>
                <ul>
                    <ol>-	On recherche l’étudiant concerné </ol>
                    <ol>-	Lorsque qu’il apparait dans la liste d’étudiant on le sélectionne. Après avoir sélectionné l’étudiant, les champs  nom, prénom, sexe, date de naissance sont remplis automatiquement.</ol>
                    <ol>-	On remplit le reste des champs du formulaire.</ol>
                    <ol>-	On sélection la cité et le local (chambre).</ol>
                    <ol>-	Et on entre la date d’entrée et de sortie qui généralement s’étend sur une durée d’un an puis on enregistrement.</ol>
                </ul>
                <p style="color: #c00000;">
                    <b><u>NB :</u></b>
                    <ul>
                        <ol>-   La période d’entré et de sortie de l’étudiant peut s’étendre sur plusieurs année ce qui entrainera des frais de paiement différents de ceux qui s’étendent sur un an. Pour avoir une période qui s’étend sur plusieurs années il faut configurer un Template particulier.</ol>
                        <ol>-	Pour un locataire étudiant l’ensemble des services qu’il devra payer son défini dans le Template de son local et lui sont attribué directement lors de la création du locataire le correspondant. Ce qui veut dire qu’après la création d’un étudiant locataire on peut directement commencer à payer ces factures de location.</ol>
                    </ul>
                </p>

                <h6 id="cr_loc2"><b>(2)	Création d’un locataire non étudiant</b></h6><hr>
                <img class="materialboxed responsive-img card" width="801" height="332"  style="border: 5px;" src="{% static 'img/loc-img/loc-gest-loc-cr-loc2.PNG' %}">
                <sup>Fenêtre de création d'un Locataire non étudiant</sup>
                <p>
                    En cliquant sur le bouton (<b>2</b>) (locataire non étudiant) on obtient le formulaire ci-dessus qui permet d’ajouter un locataire non étudiant. On constate que le formulaire est presque le même que celui de l’ajout d’un locataire étudiant juste l’absence de la liste des étudiant.
                    Ici au lieu de sélectionner l’étudiant on va remplir les champs manuellement et suivre les dernières étapes de l’enregistrent d’un étudiant  locataire.
                </p>
                <p style="color: #c00000;">
                    <b><u>NB :</u></b> pour un locataire non étudiant, les services sont attribués de façon individuelle en fonction de son contrat de location.
                    Nous verrons par la suite comment définir les services de façon individuelle sur un locataire.
                </p>

                <h6 id="regle_frais"><b>(3)	Régler les frais de location d’un locataire </b></h6><hr>
                <img class="materialboxed responsive-img card" width="374" height="197"  style="border: 5px;" src="{% static 'img/loc-img/loc-gest-loc-frais.PNG' %}">
                <sup>Fenêtre de Paiement des frais de Location</sup>
                <p>
                    Avant de cliquer sur le bouton (<b>3</b>) (<b><i>effectuer paiement</i></b>) il faut sélectionner le service que l’on souhaite payer (comme le montre la figure si dessous nous avions sélectionné le service eau et électricité) et ensuite cliquer.
                    Le formulaire qui s’ouvre est constitué de trois champs :
                </p>
                <ul>
                    <ol>-	Le montant total versé : c’est le montant global que le locataire souhaite payer pour un ou plusieurs services. Prenons un exemple avec la figure si dessus. Nous voyons bien que se locataire n’a pas fini de payer sa facture d’eau et électricité (20.000 FCFA) et la caution (30.000 FCFA). et là il décide de venir verser 50.000 FCFA. le montant total versé sera donc 50.000 FCFA repartie comme suite 20.000 FCFA pour l’eau et l’électricité comme repartie sur la figure si dessus et 30.000 FCFA pour la caution.</ol>
                    <ol>-	Le reste à payer sur la facture du service.</ol>
                    <ol>-	La date de paiement de la facture.</ol>
                </ul>

                <h6 id="p_list_loc"><b>(4)	Imprimer la liste des locataires d’une cité ainsi que leurs états de paiement </b></h6><hr>
                <p>
                    En cliquant sur le bouton (<b>4</b>) on obtient le document si dessous qui contient les informations sur la liste des locataires de la cité sélectionné ainsi que  leurs états de paiement par rapport au contrat de location actuel.
                </p>
                <img class="materialboxed responsive-img card" width="808" height="582"  style="border: 5px;" src="{% static 'img/loc-img/loc-print-list-loc.png' %}">
                <sup>Liste des Locataire d'une cité</sup>

                <h6 id="p_period"><b>(5)	Imprimer l’état périodique des versements</b></h6><hr>
                <p>
                    Cette fonctionnalité permet d’imprimer un état périodique des paiements des frais de location il s’suffit de sélection la date de début et de fin et de cliquer sur le bouton imprimer l’état.
                    La figure si dessous représente un exemple  d’état périodique de paiement.
                </p>
                <img class="materialboxed responsive-img card" width="807" height="487"  style="border: 5px;" src="{% static 'img/loc-img/loc-print-paiement.png' %}">
                <sup>Etat périodique des versements</sup>

                <h6 id="p_dispo"><b>(6)	Imprimer l’état de disponibilité des cités </b></h6><hr>
                <img class="materialboxed responsive-img card" width="851" height="437"  style="border: 5px;" src="{% static 'img/loc-img/loc-print-dispo.png' %}">
                <sup>Liste de Chambre Par cité</sup>
                <p>
                    En cliquant sur l’ongle (<b>6</b>) (<b><i>Etat des cités</i></b>), on obtient la liste de locaux des cités avec leurs états de disponibilité (couleur vert pour les locaux disponible et blanche pour les locaux occupé).
                    En cliquant sur le bouton imprimer l’état on obtient l’état de disponibilité des cité si dessous.
                </p>
                <img class="materialboxed responsive-img card" width="803" height="445"  style="border: 5px;" src="{% static 'img/loc-img/loc-print-dispo2.png' %}">
                <sup>Etat de disponibilité des cités</sup>

            </div>
        </div>
    </div>
    <div class="row">
        <b>
            <div class="col s3"></div>
            <div class="col s3"><a href="{%   url 'loc_config' %}">{{ '2. CONFIGURATION DU MODULE'|upper }}</a></div>
            <div class="col s3"><a style="color: #2A4E7F;" class="disabled">{{ '3.  GESTION DES LOCATAIRES'|upper }}</a></div>
            <div class="col s3"><a href="{%   url 'loc_contrat' %}">{{ '4.  GESTION DES CONTRATS DE LOCATION'|upper }}</a></div>
        </b>
    </div>
{% endblock %}