{% extends 'base.html' %}
{% block title %}Documentation Location | Paiements{% endblock %}
{% block breadcrumb %}
    <b>
       <a style="color: #2a4e7f;" href="{% url 'morpheus_doc' %}" class="breadcrumb">{{ 'Morpheus Documentation'|upper }}</a>
        <a style="color: #2a4e7f;" href="{% url 'loc_acceuil' %}" class="breadcrumb">{{ 'Morpheus Location'|upper }}</a>
        <a style="color: #686868;"  href="#" class="disabled breadcrumb">{{ 'GESTION DES PAIEMENTS DES LOCATAIRES'|upper }}</a>
    </b>

{% endblock %}
{% block body %}
    {% load static %}
    <div class="row">
        <div class="col s3 left">
            <ul style="position: fixed;">
                <a style="color: #2a4e7f;" href="#genere"><b>{{ 'GENERATION FACTURE PAIEMENT, PAIEMENT ET REMB...'|upper }}</b></a><br/>
                <ol><a style="color: #686868;" href="#gen_fact">(1)	Générer les factures de paiements</a></ol>
                <ol><a style="color: #686868;" href="#eff_pai">(2)	Effectuer un paiement de facture</a></ol>
                <ol><a style="color: #686868;" href="#eff_remb">(3)	Effectuer un remboursement</a></ol>
            </ul>
        </div>
        <div style="text-align: justify" class="col s9">
            <div style="text-align: justify">
                <h4><b style="color: #2a4e7f;">{{ 'GESTION DES PAIEMENTS DES LOCATAIRES'|upper }}</b></h4><hr/>
                <p>
                    Cette partie permet de générer les factures de paiement des locataires, d’effectuer les paiements et les remboursements.
                </p>
                <h5 id="genere"><b style="color: #686868;">{{ 'GENERATION FACTURE PAIEMENT, PAIEMENT ET REMBOURSEMENT'|upper }}</b></h5><hr/>
                <p>
                    La génération des facture de paiement d’un locataire consiste à se servir des configurations fait lors de l’ajout d’un service à un contrat de locataire c’est-à-dire de prix du service et de la fréquence de paiement pour créer la facture pendant la période définie dans ce service.
                    Nous avons déjà eu à voir comment effectuer les paiements d’un locataire nous allons brièvement y revenir ici.
                    Les remboursements se font sur le paiement déjà effectués d’un locataire.
                </p>
                <img class="materialboxed responsive-img card" width="1038" height="426"  style="border: 5px;" src="{% static 'img/loc-img/loc-paie.PNG' %}">
                <sup>Interface de Gestion des Paiements de loyer</sup>

                <h6 id="gen_fact"><b>(1)	Générer les factures de paiements</b></h6><hr>
                <img class="materialboxed responsive-img card" width="575" height="292"  style="border: 5px;" src="{% static 'img/loc-img/loc-paie-serv.PNG' %}">
                <sup>Fenêtre de selection d'un service</sup>
                <p>
                    La génération des factures de paiement peut se faire pour un ou plusieurs utilisateurs en même temps .avant de clique sur le bouton (<b>1</b>) il faut d’abord sélectionner les locataires pour lesquelles on veut générer les factures de paiement.
                    Une fois la fenêtre de génération lancer , on choisit les services pour lesquels on veut générer les factures de paiement et on clique sur générer.
                </p>
                <p style="color: #c00000;">
                    <b><u>NB :</u></b> Comme nous l’avons dit plus haut, la génération vas se baser sur les configurations fait lors de
                    l’ajout d’un service à un contrat de locataire c’est-à-dire de prix du service et de la fréquence de paiement pour créer la
                    facture pendant la période définie dans ce service.
                </p>

                <h6 id="eff_pai"><b>(2)	Effectuer un paiement de facture</b></h6><hr>
                <p>
                    Le bouton (<b>2</b>) (<b><i>effectuer paiement</i></b>) permet d’effectuer le paiement des factures de location. Il suffit de sélectionner la  facture qu’on veut sur laquelle on veut effectuer le paiement et cliquer sur bouton effectuer paiement.
                    Le formulaire si dessous s’affiche avec le reste à payer de facture il suffit d’entré le montant qu’on veut verser dans le champ reste et validé.
                </p>
                <img class="materialboxed responsive-img card" width="347" height="136"  style="border: 5px;" src="{% static 'img/loc-img/loc-paie-paiement.PNG' %}">
                <sup>Fenêtre de Paiement</sup>

                <h6 id="eff_remb"><b>(3)	Effectuer un remboursement  </b></h6><hr>
                <p>
                    Pour effectuer un remboursement il faut cliquer sur la facture sur laquelle on veut effectuer le
                    remboursement et clique sur le bouton (<b>3</b>) (<b><i>rembourser</i></b>). Le formulaire si dessous s’affiche.
                </p>
                <img class="materialboxed responsive-img card" width="353" height="198"  style="border: 5px;" src="{% static 'img/loc-img/loc-paie-remboursement.PNG' %}">
                <sup>Fenêtre de Remboursement</sup>
                <p>
                    Il faut entrer le montant qu’on veut rembourser et la raison du remboursement et cliquer sur le bouton rembourser.
                </p>
                <p style="color: #c00000;">
                    <b><u>NB :</u></b> Pour voir la liste des remboursements d’une facture il faut cliquer sur le bouton <b>remboursement</b><img class="" width="100" height="18"  style="border: 5px;" src="{% static 'img/loc-img/loc-linkremb.png' %}">  présent sur la ligne de la facture.
                </p>

            </div>
        </div>
    </div>
    <div class="row">
        <b>
            <div class="col s3"></div>
            <div class="col s3"><a href="{%   url 'loc_contrat' %}">{{ '4.  GESTION DES CONTRATS DE LOCATION'|upper }}</a></div>
            <div class="col s3"><a style="color: #2A4E7F;" class="disabled">{{ '5. GESTION DES PAIEMENTS DES LOCATAIRES'|upper }}</a></div>
            <div class="col s3"><a href="#">{{ ''|upper }}</a></div>
        </b>
    </div>
{% endblock %}