{% extends 'base.html' %}
{% block title %}Documentation Location | Configuration{% endblock %}
{% block breadcrumb %}
    <b>
       <a style="color: #2a4e7f;" href="{% url 'morpheus_doc' %}" class="breadcrumb">{{ 'Morpheus Documentation'|upper }}</a>
        <a style="color: #2a4e7f;" href="{% url 'loc_acceuil' %}" class="breadcrumb">{{ 'Morpheus Location'|upper }}</a>
        <a style="color: #686868;"  href="#" class="disabled breadcrumb">{{ 'CONFIGURATION DU MODULE'|upper }}</a>
    </b>

{% endblock %}
{% block body %}
    {% load static %}
    <div class="row">
        <div class="col s3 left">
            <ul style="position: fixed;">
                <a style="color: #2a4e7f;" href="#cite"><b>{{ 'CONFIGURATION CITéS'|upper }}</b></a><br/>
                <ol><a style="color: #686868;" href="#cr_cite">(1)	Création d’une cité universitaire</a></ol>
                <ol><a style="color: #686868;" href="#manip_cite">(2)	Manipulation des cités</a></ol>
                <ol><a style="color: #686868;" href="#cr_ccierg">(3)	Création de concierge</a></ol>
                <hr/>
                <a style="color: #2a4e7f;" href="#meuble"><b>{{ 'CONFIGURATIONS DES MEUBLES'|upper }}</b></a><br/>
                <ol><a style="color: #686868;" href="#cr_meuble">(1)	Création de meubles</a></ol>
                <ol><a style="color: #686868;" href="#cr_ty_meuble">(2)	Création des types de meubles</a></ol>
                <hr/>
                <a style="color: #2a4e7f;" href="#service"><b>{{ 'CONFIGURATIONS SERVICES'|upper }}</b></a><br/>
                <ol><a style="color: #686868;" href="#cr_service">(1)	Création de services</a></ol>
                <hr/>
                <a style="color: #2a4e7f;" href="#local"><b>{{ 'CONFIGURATIONS DE TEMPLATES DE LOCAL'|upper }}</b></a><br/>
                <ol><a style="color: #686868;" href="#cr_temp">(1)	Création de Template</a></ol>
                <ol><a style="color: #686868;" href="#l_temp">(2)	Lister me contenu d’un Template</a></ol>
                <ol><a style="color: #686868;" href="#add_pi_temp">(3)	Ajouter des pièces à un Template</a></ol>
                <ol><a style="color: #686868;" href="#add_serv_temp">(4)	Ajouter des services à un Template</a></ol>
                <ol><a style="color: #686868;" href="#add_meub_temp">(5)	Ajouter des meubles à un Template</a></ol>
                <ol><a style="color: #686868;" href="#cr_piece">(6)	Création des pièces</a></ol>
                <hr/>
                <a style="color: #2a4e7f;" href="#locaux"><b>{{ 'CONFIGURATIONS LOCAUX DE CITE'|upper }}</b></a><br/>
                <ol><a style="color: #686868;" href="#cr_local">(1)	Création d’un local</a></ol>
                <ol><a style="color: #686868;" href="#cr_statut">(2)	Créer un statut de local</a></ol>
            </ul>
        </div>
        <div style="text-align: justify" class="col s9">
            <div style="text-align: justify">
                <h4><b style="color: #2a4e7f;">{{ 'CONFIGURATION DU MODULE'|upper }}</b></h4><hr/>
                <p>
                    Ce chapitre concerne les configurations, nous allons par la suite présenter dans les moindres détails comment utiliser cette partie.
                </p>
                <h5 id="cite"><b style="color: #686868;">{{ 'CONFIGURATION CITéS'|upper }}</b></h5><hr/>
                <p>
                    Il s’agit ici des configurations permettant la création (de Virtualiser) des cités universitaire existante.
                </p>
                <img class="materialboxed responsive-img card" width="957" height="440"  style="border: 5px;" src="{% static 'img/loc-img/loc-config-cite.PNG' %}">
                <sup>Interface de Configuration des Cités</sup>

                <h6 id="cr_cite"><b>(1)	Création d’une cité universitaire</b></h6><hr>
                <img class="materialboxed responsive-img card" width="289" height="147"  style="border: 5px;" src="{% static 'img/loc-img/loc-config-cite-add.PNG' %}">
                <sup>Fenêtre d'édition d'une Cité</sup>
                <p>
                    Une  cité universitaire est un bâtiment abritant des locaux ou plus précisément des chambres d’étudiant parfois meublés et généralement sur la
                    supervision d’un concierge. La création des cités universitaires est le point d’entrée de ce module.
                    Le formulaire si dessus permet l’ajout d’une cité universitaire.
                    Il faut spécifier le nom de la cité (libellé) et sélectionner le concierge de la cité précédemment créé.
                </p>

                <h6 id="manip_cite"><b>(2)	Manipulation des cités</b></h6><hr>
                <p>
                    Le groupe d’action présenté dans le (<b>2</b>) permet l’édition, c’est-à-dire la modification du libellé ou du concierge et la suppression.
                </p>

                <h6 id="cr_ccierg"><b>(3)	Création de concierge</b></h6><hr>
                <img class="materialboxed responsive-img card" width="966" height="304"  style="border: 5px;" src="{% static 'img/loc-img/loc-config-concierge.PNG' %}">
                <sup>Interface de Configuration des Concierges</sup>
                <p>
                    L’onglet (<b>3</b>) renvoie sur la page de gestion des concierges. En cliquant sur le bouton (<b>3.1</b>) on obtient le formulaire de création d’un concierge si dessous.
                </p>
                <img class="materialboxed responsive-img card" width="392" height="253"  style="border: 5px;" src="{% static 'img/loc-img/loc-config-concierge-add.PNG' %}">
                <sup>Fenêtre d'édition d'un Concierge</sup>
                <p>
                    Lorsque le formulaire s’affiche il suffit de remplir le nom (<b>*</b> devant le champ nom signifie que le nom doit être obligatoirement fourni), le prénom, la date de naissance et le téléphone du concierge du concierge et cliquer sur enregistrer pour terminer la création d’un concierge.
                </p>

                <h5 id="meuble"><b style="color: #686868;">{{ 'CONFIGURATIONS DES MEUBLES'|upper }}</b></h5><hr/>
                <p>
                    Les meubles sont des mobiliers présents dans le local lors de l’entrée de l’étudiant.
                    Un dommage sur ces meubles lors de la sortie de l’étudiant entrainera des frais de réparations qui seront prélevés sur la caution de l’étudiant.
                </p>
                <img class="materialboxed responsive-img card" width="924" height="554"  style="border: 5px;" src="{% static 'img/loc-img/loc-config-meuble.PNG' %}">
                <sup>Interface de Configuration des meubles</sup>

                <h6 id="cr_meuble"><b>(1)	Création de meubles</b></h6><hr>
                <img class="materialboxed responsive-img card" width="388" height="220"  style="border: 5px;" src="{% static 'img/loc-img/loc-config-meuble-add.PNG' %}">
                <sup>Fenêtre d'édition d'un meuble</sup>
                <p>
                    En cliquant sur le bouton (<b>1</b>) on obtient le formulaire ci-dessus qui permet d’ajouter un meuble à un local d’une cité.
                    Il suffit de remplir le libellé du meuble, le prix en cas de dommage et le type de meuble correspondant.
                </p>

                <h6 id="cr_ty_meuble"><b>(2)	Création des types de meubles</b></h6><hr>
                <img class="materialboxed responsive-img card" width="858" height="429"  style="border: 5px;" src="{% static 'img/loc-img/loc-config-ty-meuble.PNG' %}">
                <sup>Interface de Configuration des types de meubles</sup>
                <p>
                    En cliquant sur l’onglet (<b>2</b>) on a accès à la gestion des types de meuble. Un type de meuble représente la nature d’un meuble (table, chaise, etc.).
                    Le bouton (<b>2.1</b>) permet de lancer le formulaire si dessous qui permet la création des types de meubles.
                </p>
                <img class="materialboxed responsive-img card" width="326" height="146"  style="border: 5px;" src="{% static 'img/loc-img/loc-config-ty-meuble-add.PNG' %}">
                <sup>Fenêtre d'édition d'un type de meuble</sup>
                <p>
                    Le formulaire lancé, il suffit remplir le libellé du type de meuble et d’enregistrer.
                </p>

                <h5 id="service"><b style="color: #686868;">{{ 'CONFIGURATIONS SERVICES'|upper }}</b></h5><hr/>
                <p>
                    Dans le module location le service représente des éléments sur lesquels le système s’appuie pour générer les factures de paiement d’un locataire.
                </p>
                <img class="materialboxed responsive-img card" width="968" height="352"  style="border: 5px;" src="{% static 'img/loc-img/loc-config-service.PNG' %}">
                <sup>Interface de Configuration des Services</sup>

                <h6 id="cr_service"><b>(1)	Création de services</b></h6><hr>
                <img class="materialboxed responsive-img card" width="449" height="209"  style="border: 5px;" src="{% static 'img/loc-img/loc-config-service-add.PNG' %}">
                <sup>Fenêtre d'édition d'un service</sup>
                <p>
                    En cliquant sur le bouton  on obtient se formulaire qui permet la création d’un service.
                    Le formulaire lancé, il suffit de remplir le libellé du service, spécifier si le service est actif
                    (un service inactif ne peut pas être utilisé) et ensuite spécifier si le service doit être payé avant d’être utilisé puis cliquer sur enregistrer.
                </p>

                <h5 id="local"><b style="color: #686868;">{{ 'CONFIGURATIONS DE TEMPLATES DE LOCAL'|upper }}</b></h5><hr/>
                <p>
                    Les Templates représentent les types de locaux qu’on peut retrouver dans une cité (studios, chambre, appartement),
                    leurs structures internes (l’ensemble des pièces), leurs contenus (meubles) et leurs prix.
                </p>
                <img class="materialboxed responsive-img card" width="801" height="634"  style="border: 5px;" src="{% static 'img/loc-img/loc-config-temp.PNG' %}">
                <sup>Interface de Configuration des Templates</sup>

                <h6 id="cr_temp"><b>(1)	Création de Template</b></h6><hr>
                <img class="materialboxed responsive-img card" width="338" height="151"  style="border: 5px;" src="{% static 'img/loc-img/loc-config-temp-add.PNG' %}">
                <sup>Fenêtre d'édition d'un Template</sup>
                <p>
                    En cliquant sur le bouton (<b>1</b>) (Nouveau) on obtient le formulaire si dessus qui permet l’ajout d’un Template.
                    Le Template à sa création est vide nous verrons comment le remplir dans les paragraphes suivant.
                </p>

                <h6 id="l_temp"><b>(2)	Lister me contenu d’un Template</b></h6><hr>
                <p>
                    Le bouton (<b>2</b>) (choisir) permet de liste le contenu d’un Template (pièces, services et prix, meubles).
                </p>
                <img class="materialboxed responsive-img card" width="575" height="551"  style="border: 5px;" src="{% static 'img/loc-img/loc-config-temp-details.PNG' %}">
                <sup>Détails sur un Template</sup>

                <h6 id="add_pi_temp"><b>(3)	Ajouter des pièces à un Template</b></h6><hr>
                <img class="materialboxed responsive-img card" width="338" height="178"  style="border: 5px;" src="{% static 'img/loc-img/loc-config-temp-piece.PNG' %}">
                <sup>Fenêtre d'ajout d'une pièce à un Template</sup>
                <p>
                    En cliquant sur le bouton (<b>3</b>) (Nouveau) on obtient le formulaire si dessus qui permet d’ajouter une pièce à un Template en sélectionnant la pièce et en indiquant le nombre de pièce du type qu’on retrouve dans ce Template.
                </p>

                <h6 id="add_serv_temp"><b>(4)	Ajouter des services à un Template</b></h6><hr>
                <img class="materialboxed responsive-img card" width="332" height="176"  style="border: 5px;" src="{% static 'img/loc-img/loc-config-temp-service.PNG' %}">
                <sup>Fenêtre d'ajout d'un service à un Template</sup>
                <p>
                    En cliquant sur le bouton (<b>4</b>) (Nouveau) on obtient le formulaire si dessus qui permet d’ajouter un service à un
                    Template en sélectionnant le service et en indiquant le montant annuelle pour le service.
                </p>
                <p>
                    <b><u>NB :</u></b> le champ montant ajouter au formulaire d’ajout d’un service au template est une particularité de la gestion des cités universitaires où
                    les étudiants payent les services de façon annuelle.
                    Cette configuration évite d’aller configurer de façon particulière les services pour chaque local d’étudiant.
                </p>

                <h6 id="add_meub_temp"><b>(5)	Ajouter des meubles à un Template</b></h6><hr>
                <img class="materialboxed responsive-img card" width="378" height="181"  style="border: 5px;" src="{% static 'img/loc-img/loc-config-temp-ty-meuble.PNG' %}">
                <sup>Fenêtre d'ajout d'un service à un Template</sup>
                <p>
                    En cliquant sur le bouton (<b>5</b>) (Nouveau) on obtient le formulaire si dessus qui permet d’ajouter un meuble à un Template en sélectionnant le type de meuble et en indiquant le nombre de meuble du type qu’on retrouve dans ce Template.
                </p>

                <h6 id="cr_piece"><b>(6)	Création des pièces</b></h6><hr>
                <img class="materialboxed responsive-img card" width="790" height="416"  style="border: 5px;" src="{% static 'img/loc-img/loc-config-ty-piece.PNG' %}">
                <sup>Interface de Création des Pièces</sup>
                <p>
                    En cliquant sur l’onglet (<b>6</b>) on obtient la page de gestion des type de pièce en cliquant sur le bouton (<b>6.1</b>) on lance la fenêtre de création d’un type de pièce si dessous.
                </p>
                <img class="materialboxed responsive-img card" width="331" height="149"  style="border: 5px;" src="{% static 'img/loc-img/loc-config-piece-add.PNG' %}">
                <sup>Fenêtre d'Ajout d'une pièce</sup>
                <p>
                    Il suffit de remplir le libellé du type de meuble et de cliquer sur enregistrer.
                </p>

                <h5 id="locaux"><b style="color: #686868;">{{ 'CONFIGURATIONS LOCAUX DE CITE'|upper }}</b></h5><hr/>
                <p>
                    Ce sont les locaux de cité qui font l’objet des contrats de location.
                    C’est  un local auquel a été attribué un Template (pièces, meubles, service) qui est loué à un locataire dans notre cas un étudiant.
                </p>
                <img class="materialboxed responsive-img card" width="870" height="460"  style="border: 5px;" src="{% static 'img/loc-img/loc-config-local.PNG' %}">
                <sup>Interface de Configuration des Locaux</sup>

                <h6 id="cr_local"><b>(1)	Création d’un local</b></h6><hr>
                <img class="materialboxed responsive-img card" width="347" height="208"  style="border: 5px;" src="{% static 'img/loc-img/loc-config-local-add.PNG' %}">
                <sup>Fenêtre d'Ajout d'un locak</sup>
                <p>
                    Après avoir sélectionné la cité dans la quel on veut créer le local, on clique sur le bouton  (<b>1</b>) (Nouveau) et on obtient le formulaire ci-dessus qui permet d’ajouter un local à un cité.
                    On spécifie le nom du local, on sélectionne le statut du local (toujours disponible lors de la création), on sélectionne le
                    Template de la chambre puis on clique sur enregistrer.
                </p>

                <h6 id="cr_statut"><b>(2)	Créer un statut de local</b></h6><hr>
                <p>
                    Les statuts permettent de donner l’état de disponibilité d’un local.
                    Elle peut prendre plusieurs valeurs selon la configuration mais les deux valeurs de base son « disponible » et « occupé »
                    en cliquant sur l’onglet  (<b>2</b>)  on obtient la page de gestion des statuts suivante.
                </p>
                <img class="materialboxed responsive-img card" width="782" height="353"  style="border: 5px;" src="{% static 'img/loc-img/loc-config-local-statut.PNG' %}">
                <sup>Interface de Configuration des statuts de locak</sup>
                <p>
                    Pour créer un statut, il faut cliquer sur le bouton  (<b>2.1</b>) qui lance le formulaire de création d’un statut suivant :
                </p>
                <img class="materialboxed responsive-img card" width="328" height="150"  style="border: 5px;" src="{% static 'img/loc-img/loc-config-local-statut-add.PNG' %}">
                <sup>Fenêtre d'édition d'un statut</sup>
                <p>
                    Le formulaire lancé, il ne reste plus qu’à créer le statut et à cliquer sur enregistrer.
                </p>

            </div>
        </div>
    </div>
    <div class="row">
        <b>
            <div class="col s3"></div>
            <div class="col s3"><a href="{%   url 'loc_intro' %}">{{ '1. Introduction Morpheus Location'|upper }}</a></div>
            <div class="col s3"><a style="color: #2A4E7F;" class="disabled">{{ '2. CONFIGURATION DU MODULE'|upper }}</a></div>
            <div class="col s3"><a href="{%   url 'loc_locataire' %}">{{ '3.  GESTION DES LOCATAIRES'|upper }}</a></div>
        </b>
    </div>
{% endblock %}