{% extends 'base.html' %}
{% block title %}Documentation Admission{% endblock %}
{% block breadcrumb %}
    <b>
        <a style="color: #2a4e7f;" href="{% url 'morpheus_doc' %}" class="breadcrumb">{{ 'Morpheus Documentation'|upper }}</a>
        <a style="color: #686868;" href="{% url 'adm_acceuil' %}" class="breadcrumb">{{ 'Morpheus Admission'|upper }}</a>
        <a style="color: #686868;"  href="#" class="disabled breadcrumb">{{ 'Introduction Morpheus Admission'|upper }}</a>
    </b>
{% endblock %}
{% block body %}
    {% load static %}
    <div class="row">
        <div class="col s3">
            <div style="position: fixed;">
                <a style="color: #2a4e7f;" href="#i_apropos"><b>{{ 'à PROPOS DE MORPHEUS / ADMISSION'|upper }}</b></a><br/>
            </div>
        </div>
        <div style="text-align: justify"  class="col s9">
            <h4><b style="color: #2a4e7f;">{{ 'Introduction Morpheus Admission'|upper }}</b></h4>
            <hr/>
            <h5 id="i_apropos"><b style="color: #686868;">{{ 'à PROPOS DE MORPHEUS / ADMISSION'|upper }}</b></h5>
            <hr/>
            <p>MORPHEUS est un ERP (<b style="color: #686868;"><i>Enterprise Resource Planning</i></b>) mise en place par le <b>SEED (<i>Software Engineering Enterprise Division</i>)</b> en vue de gérer l’ensemble des processus métiers au sein de l’IUC, et ceci à travers différents modules.<br/>
                Le Module <b style="color: #2a4e7f;">ADMISSION</b> de <b>MORPHEUS</b> est celui centré sur la gestion des concours d’entré au sein de l’institut, c’est un processus qui peut être présenté comme suite :
            </p>
            <ul style="padding-left: 10px;">
                <li>1-	Configuration des concours et de tous ce qui tourne autours (sessions de concours, profiles des candidats, centres d’examens, voies de concours, matières à composés, pièces à fournir pour le dossier d’inscription).</li><br/>
                <li>2-	Envoie des configurations de concours en ligne sur la plate-forme d’inscription en ligne.</li><br/>
                <li>3-	L’inscription des candidats en ligne aux concours précédemment configuré.</li><br/>
                <li>4-	Récupération des candidatures de l’inscription en ligne vers la plate-forme de gestion des inscriptions en local.</li><br/>
                <li>5-	Enregistrement des pièces des dossiers de candidatures et paiement des frais de concours.</li><br/>
                <li>6-	Validation d’admissibilité des candidatures aux concours (génération des procès-verbaux pour étude pour les concours par étude de dossier, étude des informations du candidat sur la plate-forme pour les concours par examen écrit).</li><br/>
                <li>7-	Enregistrement des notes concours pour les concours par examen écrit.</li><br/>
                <li>8-	Validation de réussite ou d’échec et publication des résultats de concours.</li><br/>
            </ul>
            <p>
                Apprendre à utiliser ce module  n’a rien de compliqué, mais cela suppose de bien comprendre les termes, les concepts et les méthodes employés dans ce Manuel de l’utilisateur. Nous vous conseillons d’étudier ce manuel en détail avant d’utiliser le logiciel.
            </p>
            <p>
                Ce manuel de l’utilisateur offre une vue d’ensemble des caractéristiques de l’application et donne des instructions pas à pas pour la réalisation de différentes tâches.
            </p>
            <h5><b style="color: #686868;">{{ 'Tableau de Bord'|upper }}</b></h5>
            <hr/>
            <p>
                La page suivante présente l’ensemble des sous modules de la partie <b style="color: #2a4e7f;">ADMISSION</b>.
            </p>
            <img class="materialboxed responsive-img card" height="809" width="1912" style="border: 5px;" src="{% static 'img/adm-img/adm-dashboard.png' %}">
                <sup>Tableau de Bord</sup>
            </div>
    </div>
    <div class="row">
      <b>
          <div class="col s4"><a href="{%   url 'adm_acceuil' %}">{{ 'Acceuil'|upper }}</a></div>
          <div class="col s4"><a style="color: #2A4E7F;" class="disabled">{{ '1. Introduction Morpheus Admission'|upper }}</a></div>
          <div class="col s4"><a href="{%   url 'adm_config' %}">{{ '2. APPROCHE CONFIGURATION DU MODULE'|upper }}</a></div>
      </b>
    </div>
{% endblock %}