{% extends 'base.html' %}

{% block title %}Documentation Admission | Inscription des Candidats aux Concours{% endblock %}
{% block breadcrumb %}
    <b>
        <a style="color: #2a4e7f;" href="{% url 'morpheus_doc' %}" class="breadcrumb">{{ 'Morpheus Documentation'|upper }}</a>
        <a style="color: #2a4e7f;" href="{% url 'adm_acceuil' %}" class="breadcrumb">{{ 'Morpheus Admission'|upper }}</a>
        <a style="color: #686868;"  href="#" class="disabled breadcrumb">{{ 'GESTION DES INSCRIPTIONS DES CANDIDATS AUX CONCOURS'|upper }}</a>
    </b>
{% endblock %}
{% block body %}
    {% load static %}
    <div class="row">
        <div class="col s3 left">
            <div style="position: fixed;">
                <a style="color: #2a4e7f;" href="#dp_insc"><b>{{ 'DESCRIPTION DU PROCESSUS NORMAL'|upper }}</b></a><br/>
                <a style="color: #686868; padding-left: 10px;" href="#dp1">(1).    Récupération des dossiers de candidature </a><br/>
                <a style="color: #686868; padding-left: 10px;" href="#dp2">(2).    Enregistrement des pièces fournis par le candidat </a><br/>
                <a style="color: #686868; padding-left: 10px;" href="#dp3">(3).    Liste des pièces manquantes et ajout des pièces</a><br/>
                <a style="color: #686868; padding-left: 10px;" href="#dp4">(4).	   Paiement des frais d’inscription au concours</a><br/>

                <a style="color: #2a4e7f;" href="#dpa"><b>{{ 'DESCRIPTION DU PROCESSUS ALTERNATIF'|upper }}</b></a><br/>
                <a style="color: #686868; padding-left: 10px;" href="#cr_cand">(1).	Création du candidat</a><br/>
                <a style="color: #686868; padding-left: 10px;" href="#add_par">(2).	Ajouter les parents et le formations préc.</a><br/>
                 <a style="color: #686868; padding-left: 10px;" href="#iep">(3).	Inscription au concours, enregistrement ...</a><br/>
            </div>
        </div>
        <div style="text-align: justify"  class="col s9">
            <h4><b style="color: #2a4e7f;">{{ 'GESTION DES INSCRIPTIONS DES CANDIDATS AUX CONCOURS'|upper }}</b></h4><hr/>
            <p>
                Ce chapitre concerne les inscriptions des candidats aux concours, il est divisé en deux partie  la première partie consistera à la description du processus normal par lequel un candidat doit postuler à un concours, la deuxième partie présentera un autre processus qui n’est pas recommandé mais qui peut être utilisé en cas de problème avec le premier processus pour inscrire un candidat à un concours.
            </p>
            <h5 id="dp_insc"><b style="color: #686868;">{{ 'DESCRIPTION DU PROCESSUS NORMAL D’INSCRIPTION A UN CONCOURS.'|upper }}</b></h5><hr/>
            <img class="materialboxed responsive-img card" width="781" height="462" style="border: 5px;" src="{% static 'img/adm-img/adm-insc-cand-proc.PNG' %}">
            <sup>Procéssus d'Inscription d'un candidat à un concours</sup>
            <p>
                <b><u>NB :</u></b> la partie <b>(2)</b> gestion des candidats, <b>(3)</b> inscription en ligne ou encore création d’un dossier de candidature, <b>(1)</b> envoie des configurations sont décrit dans le manuel d’utilisateur de la plate-forme d’inscription en ligne.
            </p>
            <p>
                Nous ne nous attarderons donc que sur la partie <b>(4)</b> récupération des dossiers de candidature dans <b>Morpheus</b>  et <b>(5)</b>.
            </p>
            <h6 id="dp1"><b>(1)    4-Récupération des dossiers de candidature de la plate-forme d’inscription en ligne vers Morpheus</b></h6><hr/>
            <p>Le dossier de candidature d’un candidat représente l’ensemble des éléments qui identifient un candidat et qui font son inscription à un concours (choix de la formation, informations sur les formations précédentes, contacts, profil du candidat, centre d’examen choisi, informations parental, information sur le candidat lui-même). Dans le module admission il existe deux façons de récupérer des dossiers de candidature.</p>

            <p style="size: 20px;color: #2A4E7F;"><b>-	Récupération automatique </b></p>

            <p>Cette partie n’est pas visible par l’utilisateur. En effet il s’agit d’un ensemble de services fonctionnant en arrière-plan et permettant la mise à jour des dossiers de candidature de la plate-forme d’inscription en ligne vers Morpheus à une fréquence de temps définie par l’administrateur.</p>

            <p style="size: 20px;color: #2A4E7F;"><b>-	Récupération manuelle </b></p>

            <img class="materialboxed responsive-img card" width="1255" height="410" style="border: 5px;" src="{% static 'img/adm-img/adm-insc-ligne.png' %}">
            <sup>Interface Inscription en Ligne</sup>
            <p>
                L’accès à cette fonctionnalité se trouve sous le lien <b style="color: #2A4E7F;">INSCRIPTION EN LIGNE</b> dans le menu à gauche du module admission. Elle consiste à donner la possibilité à l’utilisateur de déclencher le processus de récupération des dossiers de candidature élément par élément de la gauche vers la droite en cliquant à chaque fois sur le bouton <b style="color: #2A4E7F;">ALLER</b> comme vous pouvez le voir sur la figure si dessus. Cette méthode est généralement utilisée pour forcer la récupération d’un dossier de candidature dans le cas où la récupération automatique ne l’a pas encore récupéré.
            </p>
            <h6 id="dp2"><b>(2)    5-Enregistrement des pièces fournis par le candidat et paiement des frais d’inscription au concours</b></h6><hr/>
            <p>
                Cette étape est la dernière de processus normal d’inscription d’un candidat. Le candidat après avoir fini son inscription en ligne et n’ayant pas effectué de paiement en ligne  doit se rendre à l’établissement pour terminer son inscription. Il est muni de son Curtius et de l’ensemble de pièces demandées pour postuler au concours. Son dossier de candidature récupéré, l’opérateur dans un premier dans devra le rechercher par son nom.
            </p>
            <img class="materialboxed responsive-img card" width="779" height="449" style="border: 5px;" src="{% static 'img/adm-img/adm-insc-cand.png' %}">
            <sup>Interface Inscription Candidat</sup>
            <p>
                Pour faciliter la recherche, l’opérateur pourra être aidé par les filtres pays et région qui permettent d’afficher le candidat d’un pays et encore plus précisément d’une région de ce pays.
            </p>
            <p>
                Après avoir retrouvé le candidat, en le sélectionnant, l’opérateur à accès à tous ses informations (ses inscriptions au concours, ses contacts, ses parents, ses formations précédentes). Ce qui intéresse l’opération lors du processus normal d’inscription est la partie <b style="color: #2A4E7F;">INSCRIPTION.</b>
            </p>
            <p>
                Cette partie contient tous les inscriptions aux concours qu’un candidat a eu à passer dans l’établissement repartie par année académique. En sélectionnant l’année académique actuelle il obtient les inscriptions effectuées par le candidat. Si le candidat a eu à postuler plusieurs fois pour des sessions différentes, on obtiendra plusieurs inscriptions reparties en session comme c’est le cas sur la figure suivante.
            </p>
            <p>
                En sélectionnant l’inscription on a accès aux informations sur le concours auquel a postulé ce candidat le montant à payer pour les frais d’inscription et on peut savoir si l’étudiant à déjà payé ses frais d’inscription, la liste des pièces fournis par le candidat pour cet inscription, ajouter des pièces à cet inscription, savoir si un candidat a déposé toute les pièces demandées pour cet inscription.
            </p>
            <img class="materialboxed responsive-img card" width="789" height="435" style="border: 5px;" src="{% static 'img/adm-img/adm-insc-cand+.png' %}">
            <sup>Interface Inscription Candidat</sup>

            <h6 id="dp3"><b>(3)	5.1-Liste des pièces manquantes et ajout des pièces</b></h6><hr/>
            <p>
                En cliquant sur le bouton <b>"<i>liste de pièce à fournir</i>"</b> on obtient la fenêtre si dessous qui nous présente la liste des pièces manquantes au dossier de candidature et qui donne en même temps la possibilité d’ajouter ces pièces au dossier de candidature (il suffit de cocher les champs <b style="color: #2A4E7F;">A Déposé</b> et <b style="color: #2A4E7F;">Doc physique</b> et sauvegarder pour spécifier que le document physique a été déposé dans ce dossier).
            </p>
            <img class="materialboxed responsive-img card" width="870" height="301" style="border: 5px;" src="{% static 'img/adm-img/adm-insc-cand-piece.png' %}">
            <sup>Fenêtre listant les pièces à fournir</sup>
            <h6 id="dp4"><b>(4)	5.2-Paiement des frais d’inscription au concours</b></h6><hr/>
            <p>
                Le bouton <b>"<i>Valider</i>"</b> permet de valider le paiement des frais d’inscription au concours en spécifiant la date de paiement tel que présenté sur le formulaire si dessous. <b><u>NB</u></b> : si l’opérateur ne remplit pas la date de paiement, le système prendre comme date de paiement la date actuel.
            </p>
            <img class="materialboxed responsive-img card" width="345" height="118" style="border: 5px;" src="{% static 'img/adm-img/adm-insc-cand-val.png' %}">
            <sup>Fenêtre de Validation</sup>
            <p>
                Après cette validation, le candidat devra se rendre à la caisse pour payer. IL recevra un reçu de paiement des frais d’inscription au concours.
            </p>

            <h5 id="dpa"><b style="color: #686868;">{{ 'DESCRIPTION DU PROCESSUS ALTERNATIF D’INSCRIPTION A UN CONCOURS'|upper }}</b></h5><hr/>
            <p>
                Cette méthode n’est utilisée que dans des cas d’urgence et sur l’ordre d’un responsable. Il consiste à inscrire un candidat à un concours sans passer par la plate-forme d’inscription en ligne.
            </p>
            <img class="materialboxed responsive-img card" width="634" height="363" style="border: 5px;" src="{% static 'img/adm-img/adm-insc-cand-proc+.PNG' %}">
            <sup>Processu Alternatif  d'Inscription d'un candidat à un concours</sup>

            <h6 id="cr_cand"><b>(1)	Création du candidat</b></h6><hr/>
            <img class="materialboxed responsive-img card" width="857" height="596" style="border: 5px;" src="{% static 'img/adm-img/adm-insc-cand-addcand.png' %}">
            <sup>Fenêtre d'Ajout d'un Nouveau Candidat</sup>
            <p>
                Le menu <b style="color: #2A4E7F;">CANDIDAT</b> du module admission nous donne accès à la gestion des inscriptions au concours. En cliquant sur le bouton <b style="color: #2A4E7F;">nouveau</b>, on a accès au formulaire qui nous permettra de créer un candidat comme présenté sur la figure si dessus. Il suffit de remplir les champs demandé (<span style="color: #c00000">les champs précédés de * sont obligatoire</span>) et d’enregistrer pour créer un nouveau candidat.
            </p>
            <h6 id="add_par"><b>(2)	Ajouter les parents et le formations précédentes d’un candidat</b></h6><hr/>
            <p style="size: 20px;color: #2A4E7F;"><b>-	Ajouter des parents </b></p>
            <img class="materialboxed responsive-img card" width="728" height="326" style="border: 5px;" src="{% static 'img/adm-img/adm-insc-cand-parent.PNG' %}">
            <sup>Interface de Gestion des Parents des Candidats</sup>
            <p>
                L’onglet <b style="color: #2A4E7F;">parent</b> se trouve sous la liste des candidats du menu <b style="color: #2A4E7F;">CANDIDAT</b>. Il permet d’ajouter des parents  du candidat  avec leurs numéros de téléphone et leurs adresses mail. Le processus est le même que pour l’ajout d’un candidat. Le champ précédé de <b style="color: #2A4E7F;">*</b>  sont obligatoires.
            </p>
            <p style="size: 20px;color: #2A4E7F;"><b>-	Ajouter des formations précédentes</b></p>
            <img class="materialboxed responsive-img card" width="618" height="223" style="border: 5px;" src="{% static 'img/adm-img/adm-insc-cand-formation.png' %}">
            <sup>Interface de Gestion des Formations</sup>
            <p>
                L’onglet <b style="color: #2A4E7F;">Formations</b> se trouve sous la liste des candidats du menu <b style="color: #2A4E7F;">CANDIDAT</b>. Il permet d’ajouter les formations précédentes du candidat. Le processus est le même que pour l’ajout d’un candidat. Le champ précédé de <b style="color: #2A4E7F;">*</b>  sont obligatoires.
            </p>
            <h6 id="iep"><b>(3)	Inscription au concours, enregistrement des pièces et paiement des frais d’inscription au concours </b></h6><hr/>
            <p>
                <b><u>NB :</u></b> dans cette partie nous ne présenterons que la partie inscription au concours car les deux autres parties (enregistrement des pièces et paiement des frais d’inscription au concours) ont déjà été présentées dans la partie précédente (description du processus normal d’inscription d’un candidat).
            </p>
            <img class="materialboxed responsive-img card" width="1229" height="345" style="border: 5px;" src="{% static 'img/adm-img/adm-insc-cand-addinsc.png' %}">
            <sup>Fenêtre d'Ajout d'une Nouvelle Inscription</sup>
            <p>
                L’inscription d’un candidat à un concours ce fait en cliquant sur le bouton <i><b>Nouveau</b></i> sous l’onglet <b style="color: #2A4E7F;">Inscription</b> du menu <b style="color: #2A4E7F;">CANDIDAT</b>. En cliquant sur ce bouton on obtient le formulaire si dessus. En sélectionnant l’année académique, le niveau et l’option ou veut s’inscrire le candidat, on obtient la liste des concours programmés correspondant. <br/>
                En sélectionnant le concours on obtient la liste de sessions ouvertes pour l’année académique sélectionné et les profils de candidats pour cette année académique. En sélectionnant la session où veut composer le candidat on obtient les voies de concours pour cette session et les centre d’examen alloué pour cette session.
            </p>
        </div>
    </div>

    <div class="row">
      <b>
          <div class="col s3"></div>
          <div class="col s3"><a href="{%   url 'adm_online' %}">{{ '3. ENVOIE DE CONFIGURATIONS DE CONCOURS SUR LA PLATE-FORME EN LIGNE'|upper }}</a></div>
          <div class="col s3"><a style="color: #2A4E7F;" class="disabled">{{ '4. GESTION DES INSCRIPTIONS DES CANDIDATS AUX CONCOURS'|upper }}</a></div>
          <div class="col s3"><a href="{% url 'adm_val' %}">{{ '5. ADMISSIBILITé D’UN CANDIDAT'|upper }}</a></div>
      </b>
    </div>
{% endblock %}