{% extends 'base.html' %}

{% block title %}Documentation Admission | Configuration{% endblock %}
{% block breadcrumb %}
    <b>
        <a style="color: #2a4e7f;" href="{% url 'morpheus_doc' %}" class="breadcrumb">{{ 'Morpheus Documentation'|upper }}</a>
        <a style="color: #2a4e7f;" href="{% url 'adm_acceuil' %}" class="breadcrumb">{{ 'Morpheus Admission'|upper }}</a>
        <a style="color: #686868;"  href="#" class="disabled breadcrumb">{{ 'APPROCHE CONFIGURATION DU MODULE'|upper }}</a>
    </b>
{% endblock %}
{% block body %}
    {% load static %}
    <div class="row">
        <div class="col s3 left">
            <div style="position: fixed;">
                <a style="color: #2a4e7f;" href="#c_concours"><b>{{ 'CONFIGURATION CONCOURS'|upper }}</b></a><br/>

                <a style="color: #686868; padding-left: 10px;" href="#cr_concours">(1). Création d’un concours</a><br/>
                <a style="color: #686868; padding-left: 10px;" href="#manip_concours">(2). Manipulation de concours</a><br/>
                <a style="color: #686868; padding-left: 10px;" href="#as_concours">(3). Affectation des spécialités à un concours</a><br/>
                <a style="color: #686868; padding-left: 10px;" href="#rs_concours">(4). Retirer une spécialité d’un concours</a><br/>

                <a style="color: #2a4e7f;" href="#c_ce"><b>{{ 'CONFIGURATIONS CENTRES D’EXAMENS'|upper }}</b></a><br/>

                <a style="color: #686868; padding-left: 10px;" href="#cr_ce">(1).	Création de centre d’examen</a><br/>
                <a style="color: #686868; padding-left: 10px;" href="#m_ce">(2).	Manipulation des centres d’examens</a><br/>

                <a style="color: #2a4e7f;" href="#c_form"><b>{{ 'CONFIGURATIONS TYPES FORMATIONS, ETB. ...'|upper }}</b></a><br/>

                <a style="color: #686868; padding-left: 10px;" href="#ty_form">(1).	Types de formations</a><br/>
                <a style="color: #686868; padding-left: 10px;" href="#etb">(2).	Etablissements</a><br/>
                <a style="color: #686868; padding-left: 10px;" href="#df">(3).	Domaines de formations</a><br/>

                <a style="color: #2a4e7f;" href="#c_mat"><b>{{ 'CONFIGURATIONS MATIERES'|upper }}</b></a><br/>

                <a style="color: #686868; padding-left: 10px;" href="#cr_mat">(1).	Création de matières</a><br/>
                <a style="color: #686868; padding-left: 10px;" href="#m_mat">(2).	Manipulation de matières</a><br/>

                <a style="color: #2a4e7f;" href="#c_piece"><b>{{ 'CONFIGURATIONS PIECES ...'|upper }}</b></a><br/>

                <a style="color: #686868; padding-left: 10px;" href="#cr_piece">(1).	Création de pièce</a><br/>
                <a style="color: #686868; padding-left: 10px;" href="#aff_opt">(2).	Affectation à des options à une pièce</a><br/>

                <a style="color: #2a4e7f;" href="#c_pro"><b>{{ 'CONFIGURATIONS PROFILES CANDIDATS'|upper }}</b></a><br/>

                <a style="color: #686868; padding-left: 10px;" href="#cr_typro">(1).	Création de type de profile</a><br/>
                <a style="color: #686868; padding-left: 10px;" href="#cr_pro">(2).	Création de profile</a><br/>

                <a style="color: #2a4e7f;" href="#c_session"><b>{{ 'CONFIGURATIONS SESSIONS DE CONCOURS'|upper }}</b></a><br/>

                <a style="color: #686868; padding-left: 10px;" href="#cr_session">(1).	Création de session</a><br/>
                <a style="color: #686868; padding-left: 10px;" href="#aff_cs">(2).	Affectation de concours à une session</a><br/>
                <a style="color: #686868; padding-left: 10px;" href="#aff_vc">(3).	Affecter des voies à un concours</a><br/>
                <a style="color: #686868; padding-left: 10px;" href="#aff_me">(4).	Affecter des matières d’examen à un concours</a><br/>
                <a style="color: #686868; padding-left: 10px;" href="#aff_ce">(5).	Affecter des centre d’examens au concours</a><br/>
                <a style="color: #686868; padding-left: 10px;" href="#rec_sess">(6).	Reconduire une session</a><br/>
            </div>
        </div>
        <div style="text-align: justify"  class="col s9">
            <h4><b style="color: #2a4e7f;">{{ 'APPROCHE CONFIGURATION DU MODULE'|upper }}</b></h4><hr/>
            <p>Ce chapitre concerne les configurations, nous allons par la suite présenter dans les moindres détails comment utiliser cette partie.</p>
            <h5 id="c_concours"><b style="color: #686868;">{{ 'CONFIGURATION CONCOURS'|upper }}</b></h5><hr/>
            <p>Il s’agit ici des configurations permettant la création des concours et de l’affection des spécialités aux concours par niveau et option. </p>
            <img class="materialboxed responsive-img card" width="1884" height="961" style="border: 5px;" src="{% static 'img/adm-img/adm-config-concours.png' %}">
            <sup>Interface de Configuration de Concours</sup>
            <h6 id="cr_concours"><b>(1)	Création d’un concours</b></h6>
            <img class="materialboxed responsive-img card" width="280" height="255" style="border: 5px;" src="{% static 'img/adm-img/adm-config-edit-concours.png' %}">
            <sup>Fenêtre d'édition d'un Concours</sup>
            <p>Un concours est un examen par voie écrit soit ou étude de dossier pouvant s’étendre sur une session bien délimité et donc la réussite par le candidat donne accès en tant que étudiant à l’établissement.
                Le formulaire si dessus permet l’ajout d’un concours.
                Il faut spécifier le libellé du concours et son statut (oui/non). Ce dernier permet de savoir si un concours peut être étendu sur une session ou pas.</p>

            <h6 id="manip_concours"><b>(2)	Manipulation de concours</b></h6>
            <p>Le groupe d’action présenté dans le <b>(2)</b> permet l’édition   c’est-à-dire la modification du libellé d’un concours ou de son statut, l’activation    , la désactivation , la suppression   d’un concours. </p>
            <h6 id="as_concours"><b>(3)	Affectation des spécialités à un concours</b></h6>
            <img class="materialboxed responsive-img card" width="664" height="497" style="border: 5px;" src="{% static 'img/adm-img/adm-config-aff-spe.png' %}">
            <sup>Fenêtre d'Affectation de spécialité à un Concours</sup>
            <p>Après avoir sélectionné un concours et cliquer sur le bouton "<b><i>Affecter spécialité</i></b>"       , le formulaire si dessus s’ouvre il permet d’ajouter les spécialités qui participerons à ce concours par niveau et par option.  Les éléments de filtres niveau et cycle permettent de renvoyer les options d’un cycle par niveau.
                A partir des champs à cocher, on peut affecter plusieurs options à un concours à la fois.</p>
            <h6 id="rs_concours"><b>(4)     Retirer une spécialité d’un concours</b></h6>
            <p>Cette action permet de retirer une option d’un niveau d’un concours.</p>

            <h5 id="c_ce"><b style="color: #686868;">{{ 'CONFIGURATIONS CENTRES D’EXAMENS'|upper }}</b></h5><hr/>
            <p>Les centres d’examens sont des lieux où se dérouleront les examens de concours. La gestion des centres d’examens se trouve sous le menu configuration/ centre d’examen</p>
            <img class="materialboxed responsive-img card" width="973" height="457" style="border: 5px;" src="{% static 'img/adm-img/adm-config-centre-exam.png' %}">
            <sup>Interface de configuration des centres d'examen</sup>
            <h6 id="cr_ce"><b>(1)	Création de centre d’examen</b></h6>
            <img class="materialboxed responsive-img card" width="518" height="496" style="border: 5px;" src="{% static 'img/adm-img/adm-config-edit-centre-exam.png' %}">
            <sup>Fenêtre d'édition d'un centre d'examen</sup>
            <p>En cliquant sur le bouton "<b><i>Créer Centre Examen</i></b>" on obtient le formulaire ci-dessus qui permet d’ajouter un centre d’examen en remplaçant son libellé, son adresse, en sélectionnant la région où  est situé le centre et en sélectionnant son statut (ce statut permet de spécifier s’il peut être utilisé lors d’un concours ou non).</p>

            <h6 id="m_ce"><b>(2)	Manipulation des centres d’examens</b></h6>
            <p>Le groupe d’action présenté dans le <b>(2)</b> permet l’édition   c’est-à-dire la modification d’un concours, l’activation    , la désactivation , la suppression   d’un concours.</p>

            <h5 id="c_form"><b style="color: #686868;">{{ 'CONFIGURATIONS TYPES FORMATIONS, ETABLIMENTS, DOMAINE DE FORMATIONS'|upper }}</b></h5><hr/>
            <p>Il s’agit ici des configurations nécessaires à l’enregistrement des formations précédentes ou requise d’un candidat lors de son inscription à un concours. C’est fonctionnalités ce trouve sous le menu configurations/ formations.</p>
            <img class="materialboxed responsive-img card" width="1076" height="550" style="border: 5px;" src="{% static 'img/adm-img/adm-config-type-formation.png' %}">
            <sup>Interface de configuration des Types de Formation</sup>

            <h6 id="ty_form"><b>(1)	Types de formations</b></h6>
            <p>Il s’agit ici d’enregistrer les différents types de cycles (BTS, LICENCE, BAC, etc) qui seront sélectionnés lorsque le candidat chargera ses formations précédentes.</p>
            <img class="materialboxed responsive-img card" width="475" height="330" style="border: 5px;" src="{% static 'img/adm-img/adm-config-edit-type-formation.png' %}">
            <sup>Fenêtre d'édition d'un Type de Formation</sup>
            <p>Ce formulaire permet d’ajouter un type de formation en précisant son libellé et sa description.</p>

            <h6 id="etb"><b>(2)	Etablissement</b></h6>
            <p>Il s’agit ici d’enregistrer les établissements qui seront sélectionnés lorsque le candidat chargera ses formations précédentes. Cette fonctionnalité est rarement utilisé au niveau de la plate-forme en local car généralement c’est l’étudiant qui ajoute l’établissement dans la qu’elle-il à fait la formation si cet établissement n’est pas présent dans la liste des établissements en ligne.</p>

            <img class="materialboxed responsive-img card" width="641" height="530" style="border: 5px;" src="{% static 'img/adm-img/adm-config-etab.png' %}">
            <sup>Interface de configuration des établissements</sup>
            <p>En cliquant sur le bouton "<b><i>Créer Etablissement</i></b>" on obtient une fenêtre qui nous permet d’ajouter un établissement en précisant tous simplement son nom.</p>
            <img class="materialboxed responsive-img card" width="349" height="214" style="border: 5px;" src="{% static 'img/adm-img/adm-config-edit-etab.png' %}">
            <sup>Fenêtre d'édition d'un établissement</sup>

            <h6 id="df"><b>(3)	Domaines de formations</b></h6>
            <p>Il s’agit ici d’enregistrer les spécialités qui seront sélectionnés lorsque le candidat chargera ses formations précédentes.</p>
            <img class="materialboxed responsive-img card" width="545" height="492" style="border: 5px;" src="{% static 'img/adm-img/adm-config-dom-form.png' %}">
            <sup>Interface de configuration des domaines de formation</sup>

            <p>En cliquant sur le bouton "<b><i>Créer Domain</i></b>" on obtient une fenêtre qui nous permet d’ajouter un domaine de formation  en précisant tous simplement son nom et en donnant une brève description de celui-ci.  </p>

            <img class="materialboxed responsive-img card" width="475" height="331" style="border: 5px;" src="{% static 'img/adm-img/adm-config-edit-dom-form.png' %}">
            <sup>Fenêtre d'édition d'un domaine de formation</sup>

            <h5 id="c_mat"><b style="color: #686868;">{{ 'CONFIGURATIONS MATIERES'|upper }}</b></h5><hr/>
            <p>Cette fonctionnalité consiste en la gestion (création, modification, suppression, activation et désactivation) des matières qui pourront être affecté à un examen de concours.</p>
            <img class="materialboxed responsive-img card" width="724" height="664" style="border: 5px;" src="{% static 'img/adm-img/adm-config-matiere.png' %}">
            <sup>Interface de Configuration de Matières</sup>

            <h6 id="cr_mat"><b>(1)	Création de matières</b></h6>
            <img class="materialboxed responsive-img card" width="283" height="242" style="border: 5px;" src="{% static 'img/adm-img/adm-config-edit-matiere.png' %}">
            <sup>Fenêtre d'édition d'une Matière</sup>

            <p>En cliquant sur le bouton <b>"<i>Créer Matière</i>"</b> on obtient le formulaire ci-dessus qui permet d’ajouter une matière en remplaçant son libellé, le coefficient de la matière et en sélectionnant son statut (ce statut permet de spécifier s’il peut être utilisé lors d’un concours ou non). </p>

            <h6 id="m_mat"><b>(2)	Manipulation de matières</b></h6>
            <p>Le groupe d’action présenté dans le <b>"<i>2</i>"</b> permet l’édition   c’est-à-dire la modification d’une matière, l’activation, la désactivation , la suppression d’une matière.</p>

            <h5 id="c_piece"><b style="color: #686868;">{{ 'CONFIGURATIONS PIECES A FOURNIR POUR UN CONCOURS'|upper }}</b></h5><hr/>
            <p>Cette fonctionnalité permet de créer les pièces pouvant être demandé pour postuler à un concours et l’affectation de ces pièces à des options par niveau.</p>
            <img class="materialboxed responsive-img card" width="601" height="621" style="border: 5px;" src="{% static 'img/adm-img/adm-config-pieces.png' %}">
            <sup>Interface de Configuration des Pièces à fournir pour un concours</sup>

            <h6 id="cr_piece"><b>(1)	Création de pièce</b></h6>
            <img class="materialboxed responsive-img card" width="267" height="200" style="border: 5px;" src="{% static 'img/adm-img/adm-config-edit-pieces.png' %}">
            <sup>Fenêtre d'édition de Pièces à fournir pour un concours</sup>
            <p>En cliquant sur le bouton <b>"<i>Créer Pièces</i>"</b> on obtient le formulaire ci-dessus qui permet d’ajouter une matière en remplissant son libellé  et en sélectionnant son statut (ce statut permet de spécifier s’il peut être affecté à une option ou non). </p>

            <h6 id="aff_opt"><b>(2)	Affectation à des options à une pièce</b></h6>
            <img class="materialboxed responsive-img card" width="776" height="536" style="border: 5px;" src="{% static 'img/adm-img/adm-config-affec-no-pieces.png' %}">
            <sup>Fenêtre d'affectation de Niveau-Option</sup>
            <p>Le bouton <b>"<i>Affecter Classe</i>"</b> permet d’ouvrir la fenêtre <b>2.3</b> qui à son tour permet l’affectation des options à une pièce  en filtrant par niveau et par cycle. Avant de cliquer sur ce bouton il faut d’abord sélectionner la pièce à laquelle on veut ajouter des options  <b>2.1</b> ce qui affiche la liste de options déjà ajouter à cette pièce (comme présenté sur la figure si dessus) et ensuite cliquer sur le bouton.</p>

            <h5 id="c_pro"><b style="color: #686868;">{{ 'CONFIGURATIONS PROFILES CANDIDATS'|upper }}</b></h5><hr/>
            <p>Le profil permet de spécifier si un candidat est ancien, nouveau, étranger, etc et en fonction de ce profil les candidats recevront des traitements particulier dans le processus d’inscription (exp : la somme à payer pour l’inscription au concours).</p>
            <img class="materialboxed responsive-img card" width="616" height="261" style="border: 5px;" src="{% static 'img/adm-img/adm-config-profile.png' %}">
            <sup>Interface de Configuration des Profiles</sup>

            <h6 id="cr_typro"><b>(1)	Création de type de profile</b></h6>
            <img class="materialboxed responsive-img card" width="480" height="241" style="border: 5px;" src="{% static 'img/adm-img/adm-config-edit-profile.png' %}">
            <sup>Fenêtre d'édition d'un Type de Profile</sup>
            <p>En cliquant sur le bouton <b>"<i>Créer Type Profil</i>"</b> on obtient le formulaire ci-dessus qui permet d’ajouter un type de profile. Le type de profile permet de savoir à quel type de candidat on a affaire (ancien, nouveau, étranger, etc.).</p>

            <h6 id="cr_pro"><b>(2)	Création de profile</b></h6>
            <img class="materialboxed responsive-img card" width="778" height="346" style="border: 5px;" src="{% static 'img/adm-img/adm-config-profil.png' %}">
            <sup>Fenêtre d'édition d'un Profile</sup>
            <p>
                Après avoir cliqué sur le bouton <b>2.1</b>  on obtient le formulaire de création d’un profil ci-dessus <b>2.2</b>. Il est constitué d’un filtre qui permet d’avoir la liste des options auxquels on veut affecter le profil et les éléments du profil (type de profil, année académique, nom du profil, montant, statut).<br/>
                Le bouton  <b>2.2</b> permet l’édition d’un profil à partir du même formulaire ci-dessus. Mais cette fois si avant de cliquer sur le bouton pour lancer le formulaire il faut sélectionner le profile à modifier. Il faut noter que la modification influencera tous les profils du même cycle et du même niveau.<br/>
                Les listes de sélection ou filtres <b>2.4</b> permettent de vérifier l’existence d’un profil pour une année académique pour le créer si celui-ci n’existe pas.<br/>
                Le bouton <b>2.5</b> permet de reconduire les profils d’une année académique vers une autre. Il lance le formulaire suivant.
            </p>
            <img class="materialboxed responsive-img card" width="386" height="196" style="border: 5px;" src="{% static 'img/adm-img/adm-config-profil-rec.png' %}">
            <sup>Fenêtre de reconduction d'un Profile</sup>
            <p>Ici il faut sélectionner l’année académique l’année de départ (année où se trouvent les profils à reconduire) et l’année d’arrivée (année vers laquelle on veut reconduire les profils).</p>

            <h5 id=""><b style="color: #686868;">{{ 'CONFIGURATIONS DES VOIES D’EXAMENS'|upper }}</b></h5><hr/>
            <p>Cette fonctionnalité permet d’ajouter les voies par lesquelles pourrons s’effectuer des examens.</p>
            <img class="materialboxed responsive-img card" width="862" height="412" style="border: 5px;" src="{% static 'img/adm-img/adm-config-voie.png' %}">
            <sup>Interface de Configuration des Voies</sup>

            <h6 id=""><b>(1)	Création des voies d’examens</b></h6>
            <img class="materialboxed responsive-img card" width="364" height="155" style="border: 5px;" src="{% static 'img/adm-img/adm-config-edit-voie.png' %}">
            <sup>Fenêtre d'édition d'une voie</sup>
            <p>En cliquant sur le bouton <b>"<i>Créer Voie</i>"</b> on obtient le formulaire ci-dessus qui permet d’ajouter une matière en remplissant son libellé.</p>

            <h5 id="c_session"><b style="color: #686868;">{{ 'CONFIGURATIONS SESSIONS DE CONCOURS'|upper }}</b></h5><hr/>
            <p>Une session de concours est une période pendant laquelle un ou plusieurs concours peuvent être organisés.  Cette fonctionnalité en plus de la création des sessions de concours permet d’ajouter les concours qui vont y participer,  de choisir les voir par les quelles vont se faire ces concours, d’affecter des matières de concours aux concours par voie d’examen  et d’affecter les centres d’examen où se dérouleront ces concours.</p>
            <img class="materialboxed responsive-img card" width="640" height="527" style="border: 5px;" src="{% static 'img/adm-img/adm-config-session.png' %}">
            <sup>Interface de Configuration des Sessions</sup>

            <h6 id="cr_session"><b>(1)	Création de session</b></h6>
            <img class="materialboxed responsive-img card" width="360" height="337" style="border: 5px;" src="{% static 'img/adm-img/adm-config-edit-session.png' %}">
            <sup>Fenêtre d'édition d'une Session</sup>
            <p>En cliquant sur le bouton <b>"<i>Ajouter une Session (1)</i>"</b> on obtient le formulaire ci-dessus qui permet d’ajouter une session.</p>

            <h6 id="aff_cs"><b>(2)	Affectation de concours à une session</b></h6>
            <img class="materialboxed responsive-img card" width="456" height="703" style="border: 5px;" src="{% static 'img/adm-img/adm-config-aff-cc-session.png' %}">
            <sup>Fenêtre d'affectation d'un Concours à une Session</sup>
            <p>En cliquant sur le bouton <b>"<i>Ajouter des Concours (2)</i>"</b> on obtient le formulaire ci-dessus qui permet d’ajouter un des concours à une session. Il suffit de sélectionner les concours qu’on veut affecter à la session et cliquer sur affecter concours.</p>

            <h6 id="aff_vc"><b>(3)	Affecter des voies à un concours </b></h6>
            <img class="materialboxed responsive-img card" width="452" height="306" style="border: 5px;" src="{% static 'img/adm-img/adm-config-aff-voie-cc.png' %}">
            <sup>Fenêtre d'affectation d'une Voie à un Concours</sup>
            <p>En cliquant sur le bouton <b>"<i>Ajouter Voies (3)</i>"</b> on obtient le formulaire ci-dessus qui permet d’ajouter des voies d’examen à un concours. Il suffit de sélectionner les voies qu’on veut affecter à la session et cliquer sur Ajouter voie. Si la voie n’est pas présente dans la liste affichée on peut cliquer sur le bouton (<b>créer une voie</b>) pour ajouter la voie à la liste.</p>
            <img class="materialboxed responsive-img card" width="443" height="313" style="border: 5px;" src="{% static 'img/adm-img/adm-config-create-voie.png' %}">
            <sup>Fenêtre de Création d'une Voie</sup>

            <h6 id="aff_me"><b>(4)	Affecter des matières d’examen à un concours</b></h6>
            <img class="materialboxed responsive-img card" width="566" height="460" style="border: 5px;" src="{% static 'img/adm-img/adm-config-aff-mat-exm.png' %}">
            <sup>Fenêtre d'affectation d'une matière à un examen</sup>
            <p>En cliquant sur le bouton <b>"<i>Ajouter Matière (4)</i>"</b> on obtient le formulaire ci-dessus qui permet d’ajouter des voies d’examen à un concours. Il suffit de sélectionner les matières qu’on veut affecter au concours et cliquer sur Ajouter matière. Si la matière n’est pas présente dans la liste affichée on peut cliquer sur le bouton (<b>créer matière</b>) pour ajouter la matière à la liste.</p>
            <img class="materialboxed responsive-img card" width="475" height="473" style="border: 5px;" src="{% static 'img/adm-img/adm-config-aff-create-mat.png' %}">
            <sup>Fenêtre de Création d'une Matière</sup>

            <h6 id="aff_ce"><b>(5)	Affecter des centre d’examens au concours</b></h6>
            <img class="materialboxed responsive-img card" width="573" height="580" style="border: 5px;" src="{% static 'img/adm-img/adm-config-aff-centre.PNG' %}">
            <sup>Fenêtre d'affection d'un centre d'Examen</sup>
            <p>En cliquant sur le bouton <b>"<i>Affecter centre d’examen (5.1)</i>"</b> on obtient le formulaire ci-dessus qui permet d’ajouter des centres d’examen à un concours. Il suffit de sélectionner les centres d’examen qu’on veut affecter au concours et cliquer sur Ajouter affecter centre d’examen. Si le centre d’examen n’est pas présent dans la liste affichée on peut cliquer sur le bouton (<b>créer centre d’examen</b>) pour ajouter le centre d’examen à la liste.</p>

            <h6 id="rec_sess"><b>(6)	Reconduire une session</b></h6>
            <p>Reconduire une session c’est transférer toutes les configurations de cette session vers une autre.</p>
            <p>Pour le faire, il faut sélectionner la session pour laquelle on veut transférer les configurations dans la liste des sessions et cliquer sur Le bouton <b>"<i>Reconduire Session (6)</i>"</b>. Le formulaire suivant s’ouvre.</p>
            <img class="materialboxed responsive-img card" width="483" height="211" style="border: 5px;" src="{% static 'img/adm-img/adm-config-rec-session.png' %}">
            <sup>Fenêtre de reconduction d'une session</sup>
            <p>Dans ce formulaire, on sélectionne la session vers laquelle on veut transférer les configurations en fonction de l’année académique, puis on clique sur reconduire.</p>

        </div>
    </div>
    <div class="row">
      <b>
          <div class="col s3"></div>
          <div class="col s3"><a href="{%   url 'adm_intro' %}">{{ '1. Introduction Morpheus Admission'|upper }}</a></div>
          <div class="col s3"><a style="color: #2A4E7F;" class="disabled">{{ '2. APPROCHE CONFIGURATION DU MODULE'|upper }}</a></div>
          <div class="col s3"><a href="{% url 'adm_online' %}">{{ '3. ENVOIE DE CONFIGURATIONS DE CONCOURS SUR LA PLATE-FORME EN LIGNE'|upper }}</a></div>
      </b>
    </div>
{% endblock %}